Repository robbievanleeuwen/section-properties: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, rstcheck, flake8, pylint

poetry-check:
  name: poetry-check
  language: system
  entry: poetry check
  pass_filenames: false

rstcheck:
  name: rstcheck
  language: system
  entry: poetry run rstcheck

flake8:
  name: flake8
  language: system
  entry: poetry run flake8
  require_serial: true

pylint:
  name: pylint
  language: system
  entry: poetry run pylint
  args:
  - --disable=fixme
  require_serial: true

Update CHANGELOG.rst
  CHANGELOG.rst
Due: rstcheck

Forgot the __init__ for the new library module...
  sectionproperties/pre/library/__init__.py
Due: flake8, pylint

Bump version
  CHANGELOG.rst
  sectionproperties/__init__.py
Due: rstcheck, flake8, pylint

Create greetings.yml
  .github/workflows/greetings.yml
Due: none

Fix principal stress docs equations
  CHANGELOG.rst
  docs/source/rst/theory.rst
Due: rstcheck

Update matplotlib requirements >=3.4 for CenteredNorm
  docs/source/requirements_docs.txt
  setup.cfg
Due: none

Fix principal stress docs equations pt2
  docs/source/rst/theory.rst
Due: rstcheck

Add circular_section_by_area(); add option to concrete_sections
  docs/source/images/sections/circle_area_geometry.png
  docs/source/images/sections/circle_area_mesh.png
  docs/source/rst/advanced_geom.rst
  docs/source/rst/api.rst
  docs/source/rst/section_library.rst
  sectionproperties/pre/library/concrete_sections.py
  sectionproperties/pre/library/primitive_sections.py
Due: rstcheck, flake8, pylint

Add docs warnings to plastic and stress analyses
  docs/source/rst/analysis.rst
Due: rstcheck

Enable rtd pdf; make examples faster
  .readthedocs.yaml
  docs/source/conf.py
  docs/source/rst/theory.rst
  examples/00-basic/08_frame.py
  examples/01-advanced/02_mesh_refinement.py
  examples/01-advanced/03_torsion_constant.py
  sectionproperties/analysis/section.py
Due: rstcheck, flake8, pylint

Add formats all
  .readthedocs.yaml
Due: none

Fix super tee example docs
  sectionproperties/pre/library/bridge_sections.py
Due: flake8, pylint

Fix bug in super tee library
  sectionproperties/pre/library/bridge_sections.py
Due: flake8, pylint

Fix concrete docs
  sectionproperties/pre/library/concrete_sections.py
Due: flake8, pylint

Fix spelling mistakes in concrete.py
  sectionproperties/pre/library/concrete_sections.py
Due: flake8, pylint

Blackify
  sectionproperties/analysis/fea.py
  sectionproperties/analysis/section.py
  sectionproperties/pre/library/bridge_sections.py
  sectionproperties/tests/test_rectangle.py
Due: flake8, pylint

Fix windows tests
  .github/workflows/tests.yml
Due: none

Update Util to have 60° radius for bulb
  sectionproperties/pre/library/utils.py
Due: flake8, pylint

Update steelsections.py to create bulb flat
  sectionproperties/pre/library/steel_sections.py
Due: flake8, pylint

Update utils.py
  sectionproperties/pre/library/utils.py
Due: flake8, pylint

Add warping analysis docs warning - unconnected regions
  docs/source/rst/analysis.rst
Due: rstcheck

Blackify
  sectionproperties/pre/library/utils.py
Due: flake8, pylint

Refactor draw_radius to accept phi
  sectionproperties/pre/library/utils.py
Due: flake8, pylint

Blackify
  sectionproperties/pre/library/steel_sections.py
Due: flake8, pylint

Fix draw_radius, update bulb section
  sectionproperties/pre/library/steel_sections.py
  sectionproperties/pre/library/utils.py
Due: flake8, pylint

Update section.py
  sectionproperties/analysis/section.py
Due: flake8, pylint

Add option to create coarse mesh
  sectionproperties/pre/geometry.py
  sectionproperties/pre/pre.py
Due: flake8, pylint

Update module names in docs api
  docs/source/rst/api.rst
Due: rstcheck

Rewrite concrete_sections to prevent error in plastic (until bug fixed)
  sectionproperties/pre/geometry.py
  sectionproperties/pre/library/concrete_sections.py
  sectionproperties/pre/library/primitive_sections.py
Due: flake8, pylint

Fix CompoundGeometry.from_points() materials variable
  sectionproperties/pre/geometry.py
Due: flake8, pylint

Update greetings.yml
  .github/workflows/greetings.yml
Due: none

Re-black
  sectionproperties/analysis/fea.py
  sectionproperties/analysis/section.py
  sectionproperties/pre/library/bridge_sections.py
  sectionproperties/tests/test_rectangle.py
Due: flake8, pylint

Tests: Add test for check_geometry_overlaps() helper function
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Removed two files from commit (who knows where they came from...)
  .coverage
  sectionproperties/examples/.ipynb_checkpoints/example_nastran_section-checkpoint.py
Due: flake8, pylint

Fix: __sub__ method to prevent AttributeError when subtracting from CompoundGeometry
  sectionproperties/pre/geometry.py
Due: flake8, pylint

FEAT: Create linear_dowel_array() as a general purpose function for generating all reinforcing bars in one go
  sectionproperties/pre/library/concrete_sections.py
Due: flake8, pylint

Path conditions:
  poetry-check: any of: ^(pyproject.toml|poetry.lock)$
  rstcheck: any of: \.rst$
  flake8: any of: \.py$
  pylint: any of: ^sectionproperties/ and \.py$
