Repository robbievanleeuwen/section-properties: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, rstcheck, flake8, pylint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        language: system
        entry: poetry check
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock)$

      - id: isort
        name: isort
        language: system
        entry: poetry run isort
        args: ['--check-only', '--filter-files']
        require_serial: true
        types_or: [cython, pyi, python]

      - id: black
        name: black
        language: system
        entry: poetry run black
        args: ['--check']
        require_serial: true
        types_or: [python, pyi]

      - id: rstcheck
        name: rstcheck
        language: system
        entry: poetry run rstcheck
        types: [rst]

      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        require_serial: true
        types: [python]

      - id: pylint
        name: pylint
        language: system
        entry: poetry run pylint
        args: ['--disable=fixme']
        require_serial: true
        types: [python]
        files: ^sectionproperties/

Make changes to docs
  README.md
  docs/source/requirements_docs.txt
  docs/source/rst/advanced_geom.rst
  docs/source/rst/installation.rst
  docs/source/rst/theory.rst
Due: rstcheck

Fix docs links
  docs/source/rst/installation.rst
Due: rstcheck

Rename: sections.py -> geometry.py; update references in library
  sectionproperties/pre/geometry.py
  sectionproperties/pre/library/concrete_sections.py
  sectionproperties/pre/library/nastran_sections.py
  sectionproperties/pre/library/standard_sections.py
  sectionproperties/pre/library/steel_sections.py
Due: flake8, pylint

Update import references to geometry.py and sections.py
  sectionproperties/analysis/section.py
  sectionproperties/pre/bisect_section.py
  sectionproperties/pre/geometry.py
  sectionproperties/tests/test_offset.py
  sectionproperties/tests/test_perimeter.py
  sectionproperties/tests/test_rectangle.py
  sectionproperties/tests/test_sections.py
  sectionproperties/tests/test_validation.py
Due: flake8, pylint

Updated type hints for new geometry.py
  sectionproperties/analysis/section.py
Due: flake8, pylint

Updated test_geometry_from_points(), test_compound_geometry_from_points(), test_nested_compound_geometry_from_points() to not rely on vertex order
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Added bridge sections to library and examples
  sectionproperties/examples/example_bridgebeams.py
Due: flake8, pylint

Forgot to add the library itself!
  sectionproperties/pre/library/bridge_sections.py
Due: flake8, pylint

Blackify, add cad_to_shapely
  sectionproperties/pre/pre.py
  sectionproperties/tests/test_sections.py
  setup.py
Due: flake8, pylint

Support python 3.7
  setup.py
Due: flake8

Disable codecov comments
  codecov.yml
Due: none

Remove unnecessary package listings from setup.py
  setup.py
Due: flake8

Updated examples to work with new module layout
  examples/00-basic/01_simple.py
  examples/00-basic/02_nastran_section.py
  examples/00-basic/03_custom.py
  examples/00-basic/04_merged.py
  examples/00-basic/05_mirr_rot.py
  examples/00-basic/06_stress.py
  examples/00-basic/07_composite.py
  examples/00-basic/08_frame.py
  examples/01-advanced/01-torsion_constant.py
  examples/01-advanced/02-mesh_refinement.py
Due: flake8

blackify
  sectionproperties/analysis/section.py
  sectionproperties/pre/bisect_section.py
  sectionproperties/pre/geometry.py
  sectionproperties/pre/library/concrete_sections.py
  sectionproperties/pre/library/standard_sections.py
  sectionproperties/pre/library/steel_sections.py
  sectionproperties/pre/library/utils.py
  sectionproperties/tests/test_perimeter.py
Due: flake8, pylint

further blackify
  docs/source/conf.py
  examples/00-basic/01_simple.py
  examples/00-basic/03_custom.py
  examples/00-basic/04_merged.py
  examples/00-basic/05_mirr_rot.py
  examples/00-basic/07_composite.py
  examples/01-advanced/01-torsion_constant.py
  examples/01-advanced/02-mesh_refinement.py
  setup.py
Due: flake8

Update example to remove ambiguous variable names
  examples/00-basic/07_composite.py
Due: flake8

Reblackify (with newest version of black)
  sectionproperties/pre/bisect_section.py
  sectionproperties/pre/geometry.py
  setup.py
Due: flake8, pylint

Changed lineweight in .plot_mesh() to scale with plot size
  sectionproperties/analysis/section.py
Due: flake8, pylint

Fix broken reference in example 07_composite.py and change linewieghts in .plot_mesh()
  examples/00-basic/07_composite.py
  sectionproperties/analysis/section.py
Due: flake8, pylint

Further revisions to example and plot appearance
  examples/00-basic/07_composite.py
  sectionproperties/analysis/section.py
Due: flake8, pylint

blackify
  examples/00-basic/07_composite.py
  sectionproperties/analysis/section.py
Due: flake8, pylint

Fix module references
  docs/source/index.rst
  docs/source/rst/advanced_geom.rst
  docs/source/rst/analysis.rst
  docs/source/rst/api.rst
  docs/source/rst/geom_mesh.rst
  docs/source/rst/post.rst
  docs/source/rst/section_library.rst
  docs/source/rst/structure.rst
  examples/00-basic/04_merged.py
  examples/00-basic/05_mirr_rot.py
  sectionproperties/analysis/section.py
  sectionproperties/post/post.py
  sectionproperties/pre/geometry.py
Due: rstcheck, flake8, pylint

Ignore advanced examples to speed up
  docs/source/conf.py
Due: flake8

Delete unused example images
  docs/source/images/examples/advanced1.png
  docs/source/images/examples/advanced2.png
  docs/source/images/examples/basic_difference.png
  docs/source/images/examples/basic_reverse_difference.png
  docs/source/images/examples/complete_combined.png
  docs/source/images/examples/complete_combined_plot.png
  docs/source/images/examples/composite_centroids.png
  docs/source/images/examples/composite_geometry.png
  docs/source/images/examples/composite_mesh.png
  docs/source/images/examples/composite_stress_m.png
  docs/source/images/examples/composite_stress_n.png
  docs/source/images/examples/composite_stress_v.png
  docs/source/images/examples/custom_centroids.png
  docs/source/images/examples/custom_geometry.png
  docs/source/images/examples/custom_mesh.png
  docs/source/images/examples/frame_graph.png
  docs/source/images/examples/merged_centroids.png
  docs/source/images/examples/merged_geometry.png
  docs/source/images/examples/merged_mesh.png
  docs/source/images/examples/mirr_rot_centroids.png
  docs/source/images/examples/mirr_rot_geometry.png
  docs/source/images/examples/mirr_rot_mesh.png
  docs/source/images/examples/stress_m.png
  docs/source/images/examples/stress_mzz.png
  docs/source/images/examples/stress_v.png
  docs/source/images/examples/stress_vm1.png
  docs/source/images/examples/stress_vm2.png
  docs/source/rst/theory.rst
Due: rstcheck

Print rcParams
  examples/00-basic/01_simple.py
Due: flake8

Try set jpg quality
  examples/00-basic/01_simple.py
Due: flake8

Try svg scraper
  docs/Makefile
  docs/source/conf.py
  examples/00-basic/01_simple.py
Due: flake8

modify alpha
  examples/00-basic/01_simple.py
Due: flake8

Add lw param to plot_mesh(), fix plotting docs
  codecov.yml
  examples/00-basic/01_simple.py
  sectionproperties/analysis/section.py
  sectionproperties/pre/geometry.py
Due: flake8, pylint

Try alpha & figure size
  docs/Makefile
  examples/00-basic/01_simple.py
  sectionproperties/analysis/section.py
Due: flake8, pylint

Last try
  examples/00-basic/01_simple.py
Due: flake8

Pin matplotlib requirement for sphinx
  codecov.yml
  docs/source/requirements_docs.txt
  examples/00-basic/01_simple.py
Due: flake8

Blackify, re-enable advanced docs
  codecov.yml
  docs/source/conf.py
Due: flake8

Added mohr circle stress calc theory
  docs/source/rst/theory.rst
Due: rstcheck

Dark mode logo compatibility
  README.md
  docs/source/images/logo.png
  docs/source/images/logo_dark.png
Due: none

Fix logo
  README.md
Due: none

Format principal stress docs
  docs/source/rst/theory.rst
Due: rstcheck

Add super tee
  sectionproperties/pre/library/bridge_sections.py
Due: flake8, pylint

Add I girder, finish docs
  docs/source/images/sections/i_girder.png
  docs/source/images/sections/super_tee.png
  docs/source/rst/api.rst
  docs/source/rst/section_library.rst
  sectionproperties/pre/library/bridge_sections.py
Due: rstcheck, flake8, pylint

Blackify
  sectionproperties/pre/library/bridge_sections.py
Due: flake8, pylint
