Repository robbievanleeuwen/section-properties: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, rstcheck, flake8, pylint

poetry-check:
  name: poetry-check
  language: system
  entry: poetry check
  pass_filenames: false

rstcheck:
  name: rstcheck
  language: system
  entry: poetry run rstcheck

flake8:
  name: flake8
  language: system
  entry: poetry run flake8
  require_serial: true

pylint:
  name: pylint
  language: system
  entry: poetry run pylint
  args:
  - --disable=fixme
  require_serial: true

library updates
  poetry.lock
  pyproject.toml
  setup.cfg
Due: poetry-check

update libraries
  poetry.lock
  pyproject.toml
Due: poetry-check

update dev dependencies
  poetry.lock
  pyproject.toml
Due: poetry-check

add ignored roles for rstcheck
  setup.cfg
Due: none

add TODO to remove some flake8 and pylint ignores
  pyproject.toml
  setup.cfg
Due: poetry-check

remove flake8-rst (appears to be a dead project)
  poetry.lock
  pyproject.toml
Due: poetry-check

remove manifest and multiple README
  MANIFEST.in
  README.md
  README.rst
  pyproject.toml
  runner
Due: poetry-check, rstcheck

add contributing guide and docs to runner
  CONTRIBUTING.rst
  README.rst
  docs/Makefile
  docs/source/_static/logo.png
  docs/source/index.rst
  poetry.lock
  pyproject.toml
  runner
Due: poetry-check, rstcheck

use a single source for the logo
  CONTRIBUTING.rst
  README.rst
  logo.png
Due: rstcheck

minor clean up
  README.rst
Due: rstcheck

break runner into separate function tasks
  CONTRIBUTING.rst
  runner
Due: rstcheck

minor style change
  runner
Due: none

fix anomalous backslashes (strings with \sigma) (#1)
  sectionproperties/analysis/cross_section.py
  sectionproperties/analysis/fea.py
Due: flake8, pylint

update figure method, add plotting_context (#2)
  docs/source/rst/api.rst
  sectionproperties/analysis/cross_section.py
  sectionproperties/post/post.py
  sectionproperties/pre/sections.py
  setup.py
Due: rstcheck, flake8, pylint

add github actions, remove travis CI (#4)
  .github/workflows/ci.yml
  .travis.yml
  CONTRIBUTING.rst
  docs/Makefile
  poetry.lock
  pyproject.toml
  runner
Due: poetry-check, rstcheck

add benchmarking (#5)
  .github/workflows/ci.yml
  .gitignore
  CONTRIBUTING.rst
  docs/source/rst/installation.rst
  poetry.lock
  pyproject.toml
  runner
  sectionproperties/tests/__init__.py
  sectionproperties/tests/helper_functions.py
  sectionproperties/tests/test_rectangle.py
  sectionproperties/tests/test_validation.py
  tests/conftest.py
  tests/test_angle.py
  tests/test_custom.py
  tests/test_rectangle.py
Due: poetry-check, rstcheck, flake8, pylint

Added comments from Robbie in cross_section.py, fea.py, and pre.py. Began updating Geometry with split_section() method. Created bisect_section.py
  sectionproperties/analysis/cross_section.py
  sectionproperties/analysis/fea.py
  sectionproperties/pre/bisect_section.py
  sectionproperties/pre/pre.py
  sectionproperties/pre/sections.py
Due: flake8, pylint

PlasticSection is now calculated on shapely polygons instead of on a plastic mesh
  sectionproperties/analysis/cross_section.py
  sectionproperties/pre/bisect_section.py
  sectionproperties/pre/pre.py
  sectionproperties/pre/sections.py
  sectionproperties/tests/test_bisect_section.py
Due: flake8, pylint

Fix mistake in plastic calculate in qx, qy calculations (wrong centroids); All tests pass
  sectionproperties/analysis/cross_section.py
  sectionproperties/pre/bisect_section.py
  sectionproperties/pre/sections.py
Due: flake8, pylint

Fixed bugs in Geometry tranformations where Geometry was not compiling; Fixed bug in nastran_hat1() where shape was not in the right spot
  sectionproperties/analysis/cross_section.py
  sectionproperties/pre/nastran_sections.py
  sectionproperties/pre/pre.py
  sectionproperties/pre/sections.py
  sectionproperties/tests/test_rectangle.py
  sectionproperties/tests/test_sections.py
  sectionproperties/tests/test_validation.py
Due: flake8, pylint

Tests: added test_compound_geometry_from_points() and test_geometry_from_dxf() to test_sections.py
  sectionproperties/pre/dxf.py
  sectionproperties/pre/sections.py
  sectionproperties/tests/section_holes.dxf
  sectionproperties/tests/section_holes_complex.dxf
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Update sectionproperties.post to accomodate the DEFAULT_MATERIAL instead of None
  sectionproperties/analysis/cross_section.py
  sectionproperties/post/post.py
  sectionproperties/pre/nastran_sections.py
  sectionproperties/pre/pre.py
  sectionproperties/pre/sections.py
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Changed all of the 'align_...' methods to 'align_to'; fixed bugs
  sectionproperties/analysis/cross_section.py
  sectionproperties/post/post.py
  sectionproperties/pre/pre.py
  sectionproperties/pre/sections.py
Due: flake8, pylint

Removed leftover instrumentation, Fix: <Geometry>.mirror_section(), Feature: .plot_stress...() methods now accept a 'cmap' argument to customize the colormap; default colormap changed to 'warmcool'
  sectionproperties/analysis/cross_section.py
  sectionproperties/pre/sections.py
Due: flake8, pylint

Removed print() statements
  sectionproperties/analysis/cross_section.py
Due: flake8, pylint

Fix: Remove logging instrumentation from fea.py
  sectionproperties/analysis/cross_section.py
  sectionproperties/analysis/fea.py
Due: flake8, pylint

Fix: Update faulty vaulty variable name in post.py; str -> info_str -> prefix
  sectionproperties/post/post.py
Due: flake8, pylint

Fix: Bug in Geometry.mirror_section; Fix: CompoundGeometry.create_mesh(), allowed one mesh size to be used for all contained Geometry.
  sectionproperties/analysis/cross_section.py
  sectionproperties/pre/sections.py
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Fix: Updated cross_section.py to change var names from info_str to msg to match earlier commit.
  sectionproperties/analysis/cross_section.py
Due: flake8, pylint

Blackify
  sectionproperties/__init__.py
  sectionproperties/analysis/cross_section.py
  sectionproperties/analysis/fea.py
  sectionproperties/analysis/solver.py
  sectionproperties/examples/example_advanced1.py
  sectionproperties/examples/example_advanced2.py
  sectionproperties/examples/example_composite.py
  sectionproperties/examples/example_custom.py
  sectionproperties/examples/example_frame.py
  sectionproperties/examples/example_merged.py
  sectionproperties/examples/example_mirr_rot.py
  sectionproperties/post/post.py
  sectionproperties/pre/bisect_section.py
  sectionproperties/pre/dxf.py
  sectionproperties/pre/nastran_sections.py
  sectionproperties/pre/offset.py
  sectionproperties/pre/pre.py
  sectionproperties/pre/sections.py
  sectionproperties/tests/helper_functions.py
  sectionproperties/tests/test_bisect_section.py
  sectionproperties/tests/test_rectangle.py
  sectionproperties/tests/test_sections.py
  sectionproperties/tests/test_validation.py
Due: flake8, pylint

Fix: 'info' var in solver.py got changed to 'exit'; changed back to 'info'
  sectionproperties/analysis/solver.py
Due: flake8, pylint

Blackify
  sectionproperties/pre/sections.py
  sectionproperties/tests/test_rectangle.py
  sectionproperties/tests/test_validation.py
Due: flake8, pylint

Made fixes as suggested by Agent 6-6-6 for pull request
  sectionproperties/analysis/cross_section.py
  sectionproperties/analysis/fea.py
  sectionproperties/pre/sections.py
Due: flake8, pylint

Update sectionproperties/analysis/solver.py
  sectionproperties/analysis/solver.py
Due: flake8, pylint

Removed print('') lines from cross_section.py
  sectionproperties/analysis/cross_section.py
Due: flake8, pylint

Removed a redundant line break in an info message
  sectionproperties/analysis/cross_section.py
Due: flake8, pylint

Fix: Added .tol attribute to Geometry to round point coordinates to 12 decimal places (by default). Setting the .tol attribute allows for customization of this behaviour
  sectionproperties/pre/pre.py
  sectionproperties/pre/sections.py
  sectionproperties/tests/test_validation.py
Due: flake8, pylint

Updated docs to reflect changes to new pre-processor; updated some function signatures to include 'material'
  docs/source/conf.py
  docs/source/rst/api.rst
  docs/source/rst/geom_mesh.rst
  docs/source/rst/installation.rst
  docs/source/rst/post.rst
  sectionproperties/analysis/cross_section.py
  sectionproperties/pre/nastran_sections.py
  sectionproperties/pre/offset.py
  sectionproperties/pre/sections.py
  sectionproperties/tests/test_sections.py
Due: rstcheck, flake8, pylint

Docs: Update geom_mesh.rst; Project: change build tool from Poetry to Flit; Bugs: Fix faulty behaviour in Geometry.align_to and update docstring
  docs/source/rst/geom_mesh.rst
  sectionproperties/__init__.py
  sectionproperties/pre/nastran_sections.py
  sectionproperties/pre/sections.py
Due: rstcheck, flake8, pylint

Path conditions:
  poetry-check: any of: ^(pyproject.toml|poetry.lock)$
  rstcheck: any of: \.rst$
  flake8: any of: \.py$
  pylint: any of: ^sectionproperties/ and \.py$
