Repository robbievanleeuwen/section-properties: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, rstcheck, flake8, pylint

poetry-check:
  name: poetry-check
  language: system
  entry: poetry check
  pass_filenames: false

rstcheck:
  name: rstcheck
  language: system
  entry: poetry run rstcheck

flake8:
  name: flake8
  language: system
  entry: poetry run flake8
  require_serial: true

pylint:
  name: pylint
  language: system
  entry: poetry run pylint
  args:
  - --disable=fixme
  require_serial: true

Relax core dependencies for better compatibility, bump dev dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check

Simplify njit decorator, clarify LM tolerance error
  src/sectionproperties/analysis/fea.py
  src/sectionproperties/analysis/solver.py
Due: flake8

Fix darglint
  src/sectionproperties/analysis/fea.py
Due: flake8

Updated orcid and affiliation
  paper/paper.md
Due: none

Update theory.rst
  docs/user_guide/theory.rst
Due: rstcheck

Update dev dependencies, pin intel-openmp
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: poetry-check

Fix mypy
  src/sectionproperties/post/post.py
Due: flake8

Bump version to 3.1.2
  .github/release-drafter.yml
  pyproject.toml
Due: poetry-check

Bump black from 23.10.1 to 23.12.0
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check

Bump coverage from 7.3.2 to 7.3.3
  poetry.lock
  pyproject.toml
Due: poetry-check

Bump flake8-bugbear from 23.9.16 to 23.12.2
  poetry.lock
  pyproject.toml
Due: poetry-check

Bump ipykernel from 6.26.0 to 6.27.1
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: poetry-check

Bump ipython from 8.17.2 to 8.18.1
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: poetry-check

Bump isort from 5.12.0 to 5.13.2
  poetry.lock
  pyproject.toml
Due: poetry-check

Bump matplotlib from 3.8.0 to 3.8.2
  poetry.lock
  pyproject.toml
Due: poetry-check

Bump mypy from 1.6.1 to 1.7.1
  poetry.lock
  pyproject.toml
Due: poetry-check

Bump nbconvert from 7.10.0 to 7.13.0
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: poetry-check

Bump pre-commit from 3.5.0 to 3.6.0
  poetry.lock
  pyproject.toml
Due: poetry-check

Bump pygments from 2.16.1 to 2.17.2
  poetry.lock
  pyproject.toml
Due: poetry-check

Bump pypardiso from 0.4.2 to 0.4.4
  poetry.lock
  pyproject.toml
Due: poetry-check

Bump rich from 13.5.0 to 13.7.0
  poetry.lock
  pyproject.toml
Due: poetry-check

Bump sphinx-click from 5.0.1 to 5.1.0
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: poetry-check

Add JOSS badge to README
  README.md
Due: none

Fix EOF
  poetry.lock
Due: poetry-check

Fix import in fibre.py
  src/sectionproperties/post/fibre.py
Due: flake8

Update poetry.lock
  poetry.lock
Due: poetry-check

Update poetry.lock, pin mkl
  poetry.lock
  pyproject.toml
Due: poetry-check

Add intro to examples page
  docs/examples.rst
Due: rstcheck

Update dev dependencies
  .pre-commit-config.yaml
  docs/examples/advanced/advanced_plot.ipynb
  docs/examples/advanced/rectangle_torsion.ipynb
  docs/examples/advanced/trapezoidal_torsion.ipynb
  docs/examples/analysis/frame_analysis.ipynb
  docs/examples/analysis/geometric_analysis.ipynb
  docs/examples/analysis/plastic_analysis.ipynb
  docs/examples/analysis/stress_analysis.ipynb
  docs/examples/analysis/warping_analysis.ipynb
  docs/examples/geometry/advanced_geometry.ipynb
  docs/examples/geometry/create_mesh.ipynb
  docs/examples/geometry/geometry_cad.ipynb
  docs/examples/geometry/geometry_coordinates.ipynb
  docs/examples/geometry/geometry_manipulation.ipynb
  docs/examples/geometry/section_library.ipynb
  docs/examples/materials/assign_materials.ipynb
  docs/examples/materials/composite_analysis.ipynb
  docs/examples/results/display_results.ipynb
  docs/examples/results/export_fibre_section.ipynb
  docs/examples/results/get_results.ipynb
  docs/examples/results/get_stress.ipynb
  docs/examples/results/plot_centroids.ipynb
  docs/examples/results/plot_stress.ipynb
  docs/examples/validation/peery.ipynb
  docs/examples/validation/pilkey_arc.ipynb
  docs/examples/validation/pilkey_channel.ipynb
  docs/examples/validation/pilkey_composite.ipynb
  docs/requirements.txt
  noxfile.py
  paper/example/paper_example.ipynb
  poetry.lock
  pyproject.toml
  src/sectionproperties/__main__.py
  src/sectionproperties/analysis/__init__.py
  src/sectionproperties/post/fibre.py
  src/sectionproperties/post/post.py
  src/sectionproperties/post/stress_post.py
  tests/validation/test_peery.py
Due: poetry-check, flake8

Update core dependencies
  poetry.lock
  pyproject.toml
Due: poetry-check

Bump version to 3.1.3
  .github/release-drafter.yml
  pyproject.toml
Due: poetry-check

Add python 3.12 support
  .github/workflows/tests.yml
  CONTRIBUTING.md
  docs/contributing.rst
  docs/installation.rst
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/geometry/test_geometry.py
Due: poetry-check, rstcheck, flake8

Fix coverage workflow
  .github/workflows/tests.yml
Due: none

Bump version to 3.2.0
  .github/release-drafter.yml
  pyproject.toml
Due: poetry-check

Temporary GHA pipx fix
  .github/workflows/tests.yml
Due: none

Bump version to 3.2.1
  .github/release-drafter.yml
  poetry.lock
  pyproject.toml
Due: poetry-check

Fix paper.md - rm to textrm
  paper/paper.md
Due: none

Add CITATION.cff
  CITATION.cff
Due: none

Update README.md; remove JOSS files
  .github/workflows/draft-pdf.yml
  README.md
  paper/example/paper_example.ipynb
  paper/figures/example.png
  paper/paper.bib
  paper/paper.md
Due: none

Path conditions:
  poetry-check: any of: ^(pyproject.toml|poetry.lock)$
  rstcheck: any of: \.rst$
  flake8: any of: \.py$
  pylint: any of: ^sectionproperties/ and \.py$
