Repository robbievanleeuwen/section-properties: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, rstcheck, flake8, pylint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        language: system
        entry: poetry check
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock)$

      - id: isort
        name: isort
        language: system
        entry: poetry run isort
        args: ['--check-only', '--filter-files']
        require_serial: true
        types_or: [cython, pyi, python]

      - id: black
        name: black
        language: system
        entry: poetry run black
        args: ['--check']
        require_serial: true
        types_or: [python, pyi]

      - id: rstcheck
        name: rstcheck
        language: system
        entry: poetry run rstcheck
        types: [rst]

      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        require_serial: true
        types: [python]

      - id: pylint
        name: pylint
        language: system
        entry: poetry run pylint
        args: ['--disable=fixme']
        require_serial: true
        types: [python]
        files: ^sectionproperties/

Bump to version 3.0.0
  pyproject.toml
Due: poetry-check

Wrong size
  src/sectionproperties/pre/library/concrete_sections.py
Due: flake8

Reformat
  src/sectionproperties/pre/library/concrete_sections.py
Due: flake8

Reinstate dependabot
  .github/dependabot.yml
Due: none

Update release drafter and dependabot
  .github/dependabot.yml
  .github/release-drafter.yml
Due: none

Update release drafter footer and formatting
  .github/release-drafter.yml
Due: none

Bump coverage, pyupgrade and prettier (pre-commit)
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check

Bump version to 3.0.1
  .github/release-drafter.yml
  pyproject.toml
Due: poetry-check

Fix concrete tee top bars
  docs/user_guide/geometry.rst
  src/sectionproperties/pre/library/concrete_sections.py
Due: rstcheck, flake8

Update concrete_tee_section docstring
  src/sectionproperties/pre/library/concrete_sections.py
Due: flake8

Fix links in documentation
  README.md
  src/sectionproperties/analysis/section.py
Due: flake8

Update noxfile.py with correct docs dependencies, fix double CI builds
  .github/workflows/tests.yml
  .gitignore
  noxfile.py
Due: flake8

Bump jupyter/nbconvert from 7.8.0 to 7.9.2
  poetry.lock
  pyproject.toml
Due: poetry-check

Bump version to 3.0.2
  .github/release-drafter.yml
  pyproject.toml
Due: poetry-check

Update requirements.txt
  docs/requirements.txt
Due: none

Add nbqa
  .pre-commit-config.yaml
  docs/examples/advanced/advanced_plot.ipynb
  docs/examples/advanced/peery.ipynb
  docs/examples/advanced/rectangle_torsion.ipynb
  docs/examples/advanced/trapezoidal_torsion.ipynb
  docs/examples/analysis/export_fibre_section.ipynb
  docs/examples/analysis/frame_analysis.ipynb
  docs/examples/analysis/geometric_analysis.ipynb
  docs/examples/analysis/plastic_analysis.ipynb
  docs/examples/analysis/stress_analysis.ipynb
  docs/examples/analysis/warping_analysis.ipynb
  docs/examples/geometry/advanced_geometry.ipynb
  docs/examples/geometry/create_mesh.ipynb
  docs/examples/geometry/geometry_cad.ipynb
  docs/examples/geometry/geometry_coordinates.ipynb
  docs/examples/geometry/geometry_manipulation.ipynb
  docs/examples/geometry/section_library.ipynb
  docs/examples/materials/assign_materials.ipynb
  docs/examples/materials/composite_analysis.ipynb
  docs/examples/results/display_results.ipynb
  docs/examples/results/get_results.ipynb
  docs/examples/results/get_stress.ipynb
  docs/examples/results/plot_centroids.ipynb
  docs/examples/results/plot_stress.ipynb
Due: none

Add flake8-pytest-style
  .flake8
  noxfile.py
  poetry.lock
  pyproject.toml
Due: poetry-check, flake8

Remove black[jupyter] from dependencies
  noxfile.py
  poetry.lock
  pyproject.toml
Due: poetry-check, flake8

Restructure tests directory
  docs/user_guide/validation.rst
  pyproject.toml
  tests/analysis/__init__.py
  tests/analysis/test_plastic.py
  tests/analysis/test_stress.py
  tests/cli/__init__.py
  tests/cli/test_main.py
  tests/geometry/3in x 2in.3dm
  tests/geometry/__init__.py
  tests/geometry/complex_shape.3dm
  tests/geometry/complex_shape.txt
  tests/geometry/compound_shape.3dm
  tests/geometry/compound_shape.txt
  tests/geometry/rhino_data.json
  tests/geometry/section_holes.dxf
  tests/geometry/test_geometry.py
  tests/geometry/test_offset.py
  tests/geometry/test_perimeter.py
  tests/post/__init__.py
  tests/post/test_get_results.py
  tests/section_library/__init__.py
  tests/section_library/test_concrete_sections.py
  tests/validation/__init__.py
  tests/validation/test_peery.py
  tests/validation/test_rectangle.py
  tests/validation/test_validation.py
Due: poetry-check, rstcheck, flake8

Update test_rectangle and test_peery
  .darglint
  tests/validation/test_peery.py
  tests/validation/test_rectangle.py
Due: flake8

Update angle and custom validation tests; start to add pilkey validation tests
  tests/validation/test_angle_validation.py
  tests/validation/test_custom_validation.py
  tests/validation/test_pilkey.py
  tests/validation/test_rectangle_validation.py
  tests/validation/test_validation.py
Due: flake8

Update further pilkey validation tests
  tests/validation/test_pilkey.py
Due: flake8

Speed up pilkey tests
  tests/validation/test_pilkey.py
Due: flake8

Fix nastran_sections asserts
  src/sectionproperties/pre/library/nastran_sections.py
Due: flake8

Fix docstring for StressPost.get_stress()
  src/sectionproperties/post/stress_post.py
Due: flake8

Finish pilkey validation tests
  tests/validation/test_pilkey.py
Due: flake8

Extend geometry.py coverage; clean-up test_get_results, test_concrete_sections
  src/sectionproperties/analysis/section.py
  src/sectionproperties/pre/geometry.py
  tests/geometry/test_geometry.py
  tests/geometry/test_offset.py
  tests/post/test_get_results.py
  tests/section_library/test_concrete_sections.py
Due: flake8

Add test case for ballooning compound perimeter
  tests/test_offset.py
Due: flake8

Fix test_geometry.py darglint
  tests/geometry/test_geometry.py
Due: flake8

stress_post colormap deprecation and colorbar fix
  src/sectionproperties/post/stress_post.py
Due: flake8

Add post and stress_post tests
  tests/post/test_post.py
  tests/post/test_stress_post.py
Due: flake8

Add to test_stress_post
  tests/post/test_stress_post.py
Due: flake8

Bump pre-commit-hooks from 4.4.0 to 4.5.0, pyupgrade from 3.14.0 to 3.15.0
  poetry.lock
  pyproject.toml
Due: poetry-check

Remove unused fixtures
  tests/geometry/test_geometry.py
Due: flake8

Add validation examples category, reword validation.rst
  docs/examples.rst
  docs/examples/results/export_fibre_section.ipynb
  docs/examples/validation/peery.ipynb
  docs/examples/validation/pilkey_arc.ipynb
  docs/examples/validation/pilkey_channel.ipynb
  docs/examples/validation/pilkey_composite.ipynb
  docs/user_guide/validation.rst
  tests/validation/test_pilkey.py
Due: rstcheck, flake8

Add pilkey validation examples
  docs/examples.rst
  docs/examples/validation/images/arc-geom.png
  docs/examples/validation/images/arc-mesh.png
  docs/examples/validation/images/channel-geom.png
  docs/examples/validation/images/channel-mesh.png
  docs/examples/validation/images/comp-geom.png
  docs/examples/validation/images/comp-mesh.png
  docs/examples/validation/pilkey_arc.ipynb
  docs/examples/validation/pilkey_channel.ipynb
  docs/examples/validation/pilkey_composite.ipynb
  docs/user_guide/validation.rst
  tests/validation/test_pilkey.py
Due: rstcheck, flake8

Start adding benchmarks
  poetry.lock
  pyproject.toml
  tests/benchmarks/__init__.py
  tests/benchmarks/test_benchmarks.py
Due: poetry-check, flake8

Add benchmarks for geometry, meshing and analysis
  .flake8
  noxfile.py
  pyproject.toml
  tests/benchmarks/conftest.py
  tests/benchmarks/test_benchmark_analysis.py
  tests/benchmarks/test_benchmark_geom.py
  tests/benchmarks/test_benchmark_mesh.py
  tests/benchmarks/test_benchmarks.py
Due: poetry-check, flake8

Add benchmark histogram option, add benchmark info to contributing
  .gitignore
  CONTRIBUTING.md
  docs/contributing.rst
  poetry.lock
  pyproject.toml
  tests/benchmarks/conftest.py
Due: poetry-check, rstcheck, flake8

Add numba, pardiso
  docs/installation.rst
  poetry.lock
  pyproject.toml
  src/sectionproperties/analysis/fea.py
  src/sectionproperties/analysis/section.py
  src/sectionproperties/analysis/solver.py
Due: poetry-check, rstcheck, flake8
