Repository robbievanleeuwen/section-properties: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, rstcheck, flake8, pylint

poetry-check:
  name: poetry-check
  language: system
  entry: poetry check
  pass_filenames: false

rstcheck:
  name: rstcheck
  language: system
  entry: poetry run rstcheck

flake8:
  name: flake8
  language: system
  entry: poetry run flake8
  require_serial: true

pylint:
  name: pylint
  language: system
  entry: poetry run pylint
  args:
  - --disable=fixme
  require_serial: true

FIX: __sub__ now conforms to generally expected behaviour
  sectionproperties/pre/geometry.py
Due: flake8, pylint

TEST: Added test for __sub__ to increase coverage
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

blackify
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Update concrete section definitions
  sectionproperties/pre/library/concrete_sections.py
Due: flake8, pylint

Add simple concrete sections tests
  sectionproperties/tests/test_concrete_sections.py
Due: flake8, pylint

Update rhino-shapley-interop and cad_to_shapely reqs
  setup.cfg
Due: none

Bump version, update changelog
  CHANGELOG.rst
  sectionproperties/__init__.py
Due: rstcheck, flake8, pylint

Add progress bar to time_info
  docs/source/rst/api.rst
  sectionproperties/analysis/section.py
  sectionproperties/analysis/solver.py
Due: rstcheck, flake8, pylint

Add progress to reqs
  docs/source/requirements_docs.txt
  setup.cfg
Due: none

Install wheel on tests.yml
  .github/workflows/tests.yml
Due: none

Fix: Made changes to CompoundGeometry.compile_geometry() to fix #203; added test
  sectionproperties/pre/geometry.py
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Fix pip install
  pyproject.toml
  setup.py
Due: poetry-check, flake8

Create test_peery.py
  sectionproperties/tests/test_peery.py
Due: flake8, pylint

Update setup.cfg
  setup.cfg
Due: none

Fix rtd reqs
  docs/source/requirements_docs.txt
Due: none

Update cad_to_shapely version
  docs/source/requirements_docs.txt
  setup.cfg
Due: none

Update cad_to_shapely version take 2
  docs/source/requirements_docs.txt
  setup.cfg
Due: none

Testing Docs
  docs/source/images/validation/Peery_6.2.1.png
  docs/source/images/validation/Peery_7.2.1_1.png
  docs/source/images/validation/Peery_7.2.1_2.png
  docs/source/index.rst
  docs/source/rst/testing.rst
Due: rstcheck

Update steel_sections.py
  sectionproperties/pre/library/steel_sections.py
Due: flake8, pylint

Use Rich for progress bar
  docs/source/requirements_docs.txt
  docs/source/rst/api.rst
  examples/00-basic/09_cad_import.py
  sectionproperties/analysis/section.py
  sectionproperties/analysis/solver.py
  sectionproperties/pre/geometry.py
  setup.cfg
Due: rstcheck, flake8, pylint

Fix progress bug
  sectionproperties/analysis/section.py
Due: flake8, pylint

Force live refresh at end
  sectionproperties/analysis/section.py
Due: flake8, pylint

Create 04_peery_beams.py
  examples/01-advanced/04_peery_beams.py
Due: flake8

Finished Examples
  docs/source/rst/testing.rst
  examples/01-advanced/04_peery_beams.py
Due: rstcheck, flake8

Black Formatting
  examples/01-advanced/04_peery_beams.py
  sectionproperties/tests/test_peery.py
Due: flake8, pylint

Fix bulb_section code, add docs for bulb_section
  docs/source/images/sections/bulb_geometry.png
  docs/source/images/sections/bulb_mesh.png
  docs/source/rst/api.rst
  docs/source/rst/section_library.rst
  sectionproperties/pre/library/primitive_sections.py
  sectionproperties/pre/library/steel_sections.py
Due: rstcheck, flake8, pylint

Spelling, formatting changes; fix docs error in concrete_sections
  docs/source/rst/testing.rst
  examples/01-advanced/04_peery_beams.py
  sectionproperties/pre/library/concrete_sections.py
Due: rstcheck, flake8, pylint

Fix plastic calculation (only errors when material props specified)
  sectionproperties/analysis/section.py
Due: flake8, pylint

tests: added basic plastic test
  sectionproperties/tests/test_plastic.py
Due: flake8, pylint

use os.path.dirname and __file__ to locate files, #216
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

use os.path.dirname and __file__ to locate files, fix #216
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

rectangle.py started
  examples/11-simo/rectangle.py
Due: flake8

Lint with black
  sectionproperties/tests/test_plastic.py
Due: flake8, pylint

Fix tests workflow pip update
  .github/workflows/tests.yml
Due: none

rectangle.py usable
  examples/11-simo/rectangle.py
Due: flake8

Fix: geometry.test_overlap_sections() fix floating point error with math.isclose()
  sectionproperties/pre/geometry.py
Due: flake8, pylint

Added current failing example from #219 as test case for test_check_geometry_overlaps()
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Added geometry.check_geometry_disjoint() and added test in test_sections.py
  sectionproperties/pre/geometry.py
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Added check for disjoint geometries prior to performing warping analysis as per #220. Added test for raised warning in test_sections.py
  sectionproperties/analysis/section.py
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Blackify
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Path conditions:
  poetry-check: any of: ^(pyproject.toml|poetry.lock)$
  rstcheck: any of: \.rst$
  flake8: any of: \.py$
  pylint: any of: ^sectionproperties/ and \.py$
