Repository robbievanleeuwen/section-properties: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, rstcheck, flake8, pylint

poetry-check:
  name: poetry-check
  language: system
  entry: poetry check
  pass_filenames: false

rstcheck:
  name: rstcheck
  language: system
  entry: poetry run rstcheck

flake8:
  name: flake8
  language: system
  entry: poetry run flake8
  require_serial: true

pylint:
  name: pylint
  language: system
  entry: poetry run pylint
  args:
  - --disable=fixme
  require_serial: true

Bump nox-poetry to 1.0.3
  .github/workflows/constraints.txt
Due: none

Bump notebook to 7.x.x
  poetry.lock
  pyproject.toml
Due: poetry-check

Begin new composite results implementation
  src/sectionproperties/analysis/section.py
Due: flake8

Fix e_ref
  src/sectionproperties/analysis/section.py
Due: flake8

Finish composite changes implementation; fix get references in section.py; fix print_results; fix relevant tests
  docs/examples/geometry/section_library.ipynb
  src/sectionproperties/analysis/section.py
  src/sectionproperties/post/post.py
  tests/test_plastic.py
Due: flake8

Start to add tests for composite results changes
  tests/test_get_results.py
Due: flake8

Finish geometric analysis tests for composite changes
  tests/test_get_results.py
Due: flake8

Add warping and plastic tests for composite results changes
  tests/test_get_results.py
Due: flake8

Add composite analysis example
  docs/examples/materials/composite_analysis.ipynb
Due: none

Add assign materials example
  docs/examples/materials/assign_materials.ipynb
Due: none

Add geometric analysis example
  docs/examples/analysis/geometric_analysis.ipynb
  docs/examples/materials/assign_materials.ipynb
Due: none

Update nbsphinx
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: poetry-check

Finish analysis examples; update nbconvert
  docs/examples/analysis/frame_analysis.ipynb
  docs/examples/analysis/geometric_analysis.ipynb
  docs/examples/analysis/plastic_analysis.ipynb
  docs/examples/analysis/stress_analysis.ipynb
  docs/examples/analysis/warping_analysis.ipynb
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: poetry-check

Update dev dependencies
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: poetry-check

Update core dependencies
  poetry.lock
  pyproject.toml
Due: poetry-check

Update CI dependencies
  .github/workflows/constraints.txt
Due: none

Add advanced plot and rectangular torsion example
  docs/examples/advanced/advanced_plot.ipynb
  docs/examples/advanced/rectangle_torsion.ipynb
Due: none

Drop py3.8, add py3.11
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .readthedocs.yaml
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/test_geometry.py
Due: poetry-check, flake8

Finish results docs; other minor edits
  docs/user_guide/analysis.rst
  docs/user_guide/geometry.rst
  docs/user_guide/materials.rst
  docs/user_guide/results.rst
  docs/user_guide/theory.rst
  src/sectionproperties/analysis/section.py
  src/sectionproperties/post/stress_post.py
Due: rstcheck, flake8

Add display results and get results examples
  docs/examples/results/display_results.ipynb
  docs/examples/results/get_results.ipynb
  docs/user_guide/results.rst
  src/sectionproperties/post/post.py
Due: rstcheck, flake8

Add plot centroids and get stress examples; minor docs edits
  docs/examples/results/display_results.ipynb
  docs/examples/results/get_stress.ipynb
  docs/examples/results/plot_centroids.ipynb
  docs/user_guide/results.rst
Due: rstcheck

Fix bulb section point duplication
  src/sectionproperties/pre/library/steel_sections.py
Due: flake8

Fix sig_11 bug; minor docstring edits
  src/sectionproperties/post/stress_post.py
Due: flake8

Add plot stress example; minor docs edits
  docs/examples/geometry/create_mesh.ipynb
  docs/examples/geometry/geometry_cad.ipynb
  docs/examples/geometry/geometry_manipulation.ipynb
  docs/examples/results/get_results.ipynb
  docs/examples/results/plot_stress.ipynb
  docs/user_guide/results.rst
Due: rstcheck

Revert geom_mesh and section.py changes
  docs/source/rst/geom_mesh.rst
  sectionproperties/analysis/section.py
Due: rstcheck, flake8, pylint

Add option to specify mesh minimum angle
  docs/examples/geometry/create_mesh.ipynb
  src/sectionproperties/pre/geometry.py
  src/sectionproperties/pre/pre.py
Due: flake8

Add option to change colorbar string formatting
  docs/examples/results/plot_stress.ipynb
  src/sectionproperties/post/stress_post.py
Due: flake8

Add option to change mesh opacity for all plots
  docs/examples/results/plot_centroids.ipynb
  docs/examples/results/plot_stress.ipynb
  src/sectionproperties/analysis/section.py
  src/sectionproperties/post/stress_post.py
Due: flake8

Add stress limits; add colorbar label option
  docs/examples/results/plot_stress.ipynb
  src/sectionproperties/post/stress_post.py
Due: flake8

Simplify notebook imports
  docs/examples/advanced/advanced_plot.ipynb
  docs/examples/advanced/rectangle_torsion.ipynb
  docs/examples/analysis/stress_analysis.ipynb
  docs/examples/geometry/advanced_geometry.ipynb
  docs/examples/results/get_stress.ipynb
  src/sectionproperties/analysis/section.py
Due: flake8

Add option to plot stresses for specific materials
  docs/examples/materials/composite_analysis.ipynb
  docs/examples/results/plot_stress.ipynb
  src/sectionproperties/post/stress_post.py
Due: flake8

Expose spline dxf import options
  src/sectionproperties/pre/geometry.py
Due: flake8

Fix docstring spelling
  src/sectionproperties/pre/geometry.py
Due: flake8

Add fibre section
  src/sectionproperties/plugin/__init__.py
  src/sectionproperties/plugin/fibre.py
Due: flake8

Fix linting
  src/sectionproperties/plugin/__init__.py
  src/sectionproperties/plugin/fibre.py
Due: flake8

Change return type
  src/sectionproperties/plugin/fibre.py
Due: flake8

Minor update
  src/sectionproperties/plugin/fibre.py
Due: flake8

Cached shape function
  src/sectionproperties/analysis/fea.py
Due: flake8

Optimize
  src/sectionproperties/analysis/fea.py
  src/sectionproperties/analysis/section.py
Due: flake8

Add info
  src/sectionproperties/plugin/fibre.py
Due: flake8

Path conditions:
  poetry-check: any of: ^(pyproject.toml|poetry.lock)$
  rstcheck: any of: \.rst$
  flake8: any of: \.py$
  pylint: any of: ^sectionproperties/ and \.py$
