Repository robbievanleeuwen/section-properties: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, rstcheck, flake8, pylint

poetry-check:
  name: poetry-check
  language: system
  entry: poetry check
  pass_filenames: false

rstcheck:
  name: rstcheck
  language: system
  entry: poetry run rstcheck

flake8:
  name: flake8
  language: system
  entry: poetry run flake8
  require_serial: true

pylint:
  name: pylint
  language: system
  entry: poetry run pylint
  args:
  - --disable=fixme
  require_serial: true

Update and pin dev dependencies
  .flake8
  .pre-commit-config.yaml
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  src/sectionproperties/post/post.py
Due: poetry-check, flake8

Reinstate ipython, ipykernel for docs build
  docs/requirements.txt
  noxfile.py
  poetry.lock
  pyproject.toml
Due: poetry-check, flake8

Remove python 3.9, update core dependencies, build docs on 3.12
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .readthedocs.yaml
  CONTRIBUTING.md
  LICENSE
  docs/conf.py
  docs/contributing.rst
  docs/installation.rst
  docs/requirements.txt
  noxfile.py
  poetry.lock
  pyproject.toml
  src/sectionproperties/post/post.py
Due: poetry-check, rstcheck, flake8

Bump version to 3.4.0
  .github/release-drafter.yml
  pyproject.toml
Due: poetry-check

add new timber section code
  src/sectionproperties/pre/library/timber_sections.py
Due: flake8

create example for timber rectangular section
  src/sectionproperties/pre/library/__init__.py
  src/sectionproperties/pre/library/timber_sections.py
Due: flake8

add feature clt_rectangular_section
  docs/examples/geometry/section_library.ipynb
  src/sectionproperties/pre/library/__init__.py
  src/sectionproperties/pre/library/timber_sections.py
  tests/section_library/test_timber_sections.py
Due: flake8

Remove poetry, black, flake8 etc. in favour of uv and ruff config
  .darglint
  .flake8
  .gitignore
  .pre-commit-config.yaml
  .python-version
  .readthedocs.yaml
  docs/requirements.txt
  noxfile.py
  poetry.lock
  pyproject.toml
  ruff.toml
  src/sectionproperties/__main__.py
  uv.lock
Due: poetry-check, flake8

Begin fixing workflows
  .github/workflows/constraints.txt
  .github/workflows/tests.yml
  docs/conf.py
  docs/installation.rst
  src/sectionproperties/pre/library/nastran_sections.py
  tests/cli/__init__.py
  tests/cli/test_main.py
Due: rstcheck, flake8

Install extras required for tests
  .github/workflows/tests.yml
Due: none

Add pre-commit and docs build to ci.yml
  .github/workflows/ci.yml
  .github/workflows/tests.yml
Due: none

Attempt to fix ci.yml syntax
  .github/workflows/ci.yml
Due: none

Fix ci.yml env var
  .github/workflows/ci.yml
Due: none

Fix run correct python version in ci.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

Add pyright and basic type checking fixes
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  src/sectionproperties/analysis/plastic_section.py
  src/sectionproperties/analysis/section.py
  src/sectionproperties/analysis/solver.py
  src/sectionproperties/post/post.py
  src/sectionproperties/post/stress_post.py
  src/sectionproperties/pre/geometry.py
  src/sectionproperties/pre/library/nastran_sections.py
  src/sectionproperties/pre/library/steel_sections.py
  uv.lock
Due: poetry-check, flake8

Fix minor bugs
  .github/workflows/ci.yml
  src/sectionproperties/post/post.py
  src/sectionproperties/pre/geometry.py
Due: flake8

Update pre-commit-hooks to v5.0.0
  .pre-commit-config.yaml
Due: none

Add typed stubs for dependencies (except scipy)
  pyproject.toml
  ruff.toml
  src/sectionproperties/analysis/plastic_section.py
  src/sectionproperties/analysis/section.py
  src/sectionproperties/analysis/solver.py
  src/sectionproperties/pre/geometry.py
  src/sectionproperties/pre/pre.py
  typings/cad_to_shapely/__init__.pyi
  typings/cad_to_shapely/dxf.pyi
  typings/cad_to_shapely/utils.pyi
  typings/cytriangle/__init__.pyi
  typings/mpl_toolkits/axes_grid1/axes_divider.pyi
  typings/numba/__init__.pyi
  typings/pypardiso/__init__.pyi
  typings/rhino_shapely_interop/importers.pyi
  uv.lock
Due: poetry-check, flake8

Add scipy stubs
  pyproject.toml
  ruff.toml
  src/sectionproperties/analysis/plastic_section.py
  src/sectionproperties/analysis/section.py
  src/sectionproperties/analysis/solver.py
  tests/validation/test_rectangle_validation.py
  typings/numba/__init__.pyi
  typings/scipy/optimize/__init__.pyi
  typings/scipy/sparse/__init__.pyi
  typings/scipy/sparse/linalg.pyi
Due: poetry-check, flake8

Achieve strict pyright typing
  pyproject.toml
  src/sectionproperties/analysis/fea.py
  src/sectionproperties/analysis/section.py
  src/sectionproperties/analysis/solver.py
  src/sectionproperties/post/fibre.py
  src/sectionproperties/post/post.py
  src/sectionproperties/post/stress_post.py
  src/sectionproperties/pre/bisect_section.py
  src/sectionproperties/pre/geometry.py
  src/sectionproperties/pre/library/concrete_sections.py
  src/sectionproperties/pre/library/nastran_sections.py
  src/sectionproperties/pre/library/primitive_sections.py
  src/sectionproperties/pre/library/steel_sections.py
  tests/validation/test_peery.py
  typings/cytriangle/__init__.pyi
  typings/mpl_toolkits/axes_grid1/axes_divider.pyi
  typings/pypardiso/__init__.pyi
  typings/rhino_shapely_interop/importers.pyi
  typings/scipy/optimize/__init__.pyi
  typings/scipy/sparse/linalg.pyi
Due: poetry-check, flake8

Use uv in readthedocs
  .readthedocs.yaml
Due: none

uv install python in rtd
  .readthedocs.yaml
Due: none

Add coverage to ci.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  docs/requirements.txt
  pyproject.toml
Due: poetry-check

Fix ci.yml
  .github/workflows/ci.yml
Due: none

Fix coverage artifact upload
  .github/workflows/ci.yml
Due: none

Fix typo
  .github/workflows/ci.yml
Due: none

Try codecov test analytics
  .github/workflows/ci.yml
Due: none

Update release.yml
  .github/release-drafter.yml
  .github/workflows/release.yml
Due: none

Fix gh-action-pypi-publish tag
  .github/workflows/release.yml
Due: none

Use toml get
  .github/workflows/release.yml
Due: none

Run releases on dev branch
  .github/workflows/release.yml
Due: none

Add defaults to public docstrings
  .github/workflows/ci.yml
  .github/workflows/release.yml
  src/sectionproperties/analysis/fea.py
  src/sectionproperties/analysis/section.py
  src/sectionproperties/analysis/solver.py
  src/sectionproperties/post/fibre.py
  src/sectionproperties/post/post.py
  src/sectionproperties/post/stress_post.py
  src/sectionproperties/pre/geometry.py
  src/sectionproperties/pre/library/bridge_sections.py
  src/sectionproperties/pre/library/concrete_sections.py
  src/sectionproperties/pre/library/nastran_sections.py
  src/sectionproperties/pre/library/primitive_sections.py
  src/sectionproperties/pre/library/steel_sections.py
  src/sectionproperties/pre/library/utils.py
Due: flake8

Update contributing guide and docs
  .github/PULL_REQUEST_TEMPLATE.md
  .github/release-drafter.yml
  .github/workflows/labeler.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  docs/contributing.rst
  docs/installation.rst
  src/sectionproperties/pre/geometry.py
Due: rstcheck, flake8

Update dev dependencies
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: poetry-check

Add uv dependency groups, remove pypi tokens
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .readthedocs.yaml
  CONTRIBUTING.md
  docs/contributing.rst
  pyproject.toml
  uv.lock
Due: poetry-check, rstcheck

Update release.yml
  .github/workflows/release.yml
Due: none

Bump version to v3.5.0
  pyproject.toml
  uv.lock
Due: poetry-check

Add numpy 2 support
  pyproject.toml
  uv.lock
Due: poetry-check

Add docs, tests, get methods for yield moment
  docs/user_guide/results.rst
  docs/user_guide/theory.rst
  src/sectionproperties/analysis/section.py
  src/sectionproperties/post/post.py
  tests/analysis/test_yield_moment.py
Due: rstcheck, flake8

Path conditions:
  poetry-check: any of: ^(pyproject.toml|poetry.lock)$
  rstcheck: any of: \.rst$
  flake8: any of: \.py$
  pylint: any of: ^sectionproperties/ and \.py$
