Repository robbievanleeuwen/section-properties: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, rstcheck, flake8, pylint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        language: system
        entry: poetry check
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock)$

      - id: isort
        name: isort
        language: system
        entry: poetry run isort
        args: ['--check-only', '--filter-files']
        require_serial: true
        types_or: [cython, pyi, python]

      - id: black
        name: black
        language: system
        entry: poetry run black
        args: ['--check']
        require_serial: true
        types_or: [python, pyi]

      - id: rstcheck
        name: rstcheck
        language: system
        entry: poetry run rstcheck
        types: [rst]

      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        require_serial: true
        types: [python]

      - id: pylint
        name: pylint
        language: system
        entry: poetry run pylint
        args: ['--disable=fixme']
        require_serial: true
        types: [python]
        files: ^sectionproperties/

Minor docs fixes
  docs/api.md
  src/sectionproperties/analysis/fea.py
  src/sectionproperties/analysis/solver.py
  src/sectionproperties/post/post.py
  src/sectionproperties/pre/pre.py
Due: flake8

Move StressPost to post module and fix
  src/sectionproperties/post/stress_post.py
Due: flake8

Move PlasticSection to own module and fix; move StressResult to stress_post module
  src/sectionproperties/analysis/plastic_section.py
  src/sectionproperties/post/stress_post.py
Due: flake8

Move SectionProperties to post.py
  src/sectionproperties/post/post.py
Due: flake8

Fix section.py
  .flake8
  src/sectionproperties/analysis/fea.py
  src/sectionproperties/analysis/plastic_section.py
  src/sectionproperties/analysis/section.py
  src/sectionproperties/post/post.py
  src/sectionproperties/post/stress_post.py
Due: flake8

Modernise post.py
  src/sectionproperties/post/post.py
Due: flake8

Fix test_concrete_sections.py
  tests/test_concrete_sections.py
Due: flake8

Fix imports
  src/sectionproperties/analysis/fea.py
  src/sectionproperties/analysis/plastic_section.py
  src/sectionproperties/pre/geometry.py
Due: flake8

Properly fix imports
  src/sectionproperties/analysis/plastic_section.py
  src/sectionproperties/analysis/section.py
  src/sectionproperties/post/post.py
  src/sectionproperties/post/stress_post.py
  src/sectionproperties/pre/geometry.py
  src/sectionproperties/pre/library/bridge_sections.py
  src/sectionproperties/pre/library/concrete_sections.py
  src/sectionproperties/pre/library/nastran_sections.py
  src/sectionproperties/pre/library/primitive_sections.py
  src/sectionproperties/pre/library/steel_sections.py
Due: flake8

Fix test_main.py
  tests/test_main.py
Due: flake8

Fix test_offset.py
  tests/test_offset.py
Due: flake8

Fix test_peery.py
  tests/test_peery.py
Due: flake8

Fix np.empty; fix shear function typo
  src/sectionproperties/analysis/fea.py
Due: flake8

Fix asserts failing for 0
  src/sectionproperties/analysis/section.py
Due: flake8

Fix test_perimeter.py
  tests/test_perimeter.py
Due: flake8

Fix test_plastic.py
  src/sectionproperties/analysis/plastic_section.py
  src/sectionproperties/analysis/section.py
  tests/test_plastic.py
Due: flake8

Fix test_rectangle.py
  tests/test_rectangle.py
Due: flake8

Fix test_validation.py; global and principal coordinate fix
  src/sectionproperties/analysis/fea.py
  tests/test_validation.py
Due: flake8

Fix test_stress.py; fix SectionProperties bug
  src/sectionproperties/post/post.py
  tests/test_stress.py
Due: flake8

Move test in test_plastic
  tests/test_plastic.py
Due: flake8

Fix test_geometry.py (previously test_sections.py)
  tests/test_geometry.py
  tests/test_sections.py
Due: flake8

Minor typing fixes; bump version
  pyproject.toml
  src/sectionproperties/analysis/section.py
  src/sectionproperties/pre/geometry.py
Due: poetry-check, flake8

Update section.py
  sectionproperties/analysis/section.py
Due: flake8, pylint

Various docstring fixes
  src/sectionproperties/analysis/fea.py
  src/sectionproperties/analysis/plastic_section.py
  src/sectionproperties/analysis/section.py
  src/sectionproperties/post/stress_post.py
  src/sectionproperties/pre/pre.py
Due: flake8

Update versions and constraints
  .github/workflows/constraints.txt
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  src/sectionproperties/__init__.py
  src/sectionproperties/__main__.py
  tests/__init__.py
Due: poetry-check, flake8

Poetry 1.2.2
  .github/workflows/constraints.txt
  poetry.lock
Due: poetry-check

Bump nox-poetry
  .github/workflows/constraints.txt
Due: none

Try rhino3dm=7.14.1
  poetry.lock
  pyproject.toml
Due: poetry-check

Remove myst-parser (md->rst); update docs
  docs/api.rst
  docs/codeofconduct.md
  docs/codeofconduct.rst
  docs/conf.py
  docs/contributing.md
  docs/contributing.rst
  docs/examples.md
  docs/examples.rst
  docs/index.md
  docs/index.rst
  docs/license.md
  docs/license.rst
  docs/requirements.txt
  docs/user_guide.md
  docs/user_guide.rst
  docs/user_guide/analysis.md
  docs/user_guide/analysis.rst
  docs/user_guide/geometry.md
  docs/user_guide/geometry.rst
  docs/user_guide/materials.md
  docs/user_guide/materials.rst
  docs/user_guide/meshing.md
  docs/user_guide/meshing.rst
  docs/user_guide/overview.md
  docs/user_guide/overview.rst
  docs/user_guide/results.md
  docs/user_guide/results.rst
  docs/user_guide/theory.rst
  docs/user_guide/validation.rst
  noxfile.py
  poetry.lock
  pyproject.toml
Due: poetry-check, rstcheck, flake8

Docstring fixes; tricontourf fix
  src/sectionproperties/post/stress_post.py
  src/sectionproperties/pre/geometry.py
  src/sectionproperties/pre/library/primitive_sections.py
Due: flake8

Pass through DXF import options for better geometry creation
  docs/source/rst/geom_mesh.rst
  sectionproperties/pre/geometry.py
Due: rstcheck, flake8, pylint

Update for linux dev environment
  .cookiecutter.json
  .readthedocs.yaml
  noxfile.py
  poetry.lock
  pyproject.toml
Due: poetry-check, flake8

Fix python versions in workflows
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

Add py.typed
  pyproject.toml
  src/sectionproperties/py.typed
Due: poetry-check

Update pre-commit dependencies
  .pre-commit-config.yaml
Due: none

Run pre-commit
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/release-drafter.yml
  CONTRIBUTING.md
  README.md
  docs/_templates/custom-module-template.rst
  tests/complex_shape.txt
  tests/compound_shape.txt
  tests/rhino_data.json
Due: rstcheck

Add cad dependency group, skip cad tests if py3.10
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/test_geometry.py
Due: poetry-check, flake8

Change rhino3dm to 7.14.1, pre-commit py3.10, use poetry install in nox
  .github/workflows/tests.yml
  noxfile.py
  pyproject.toml
Due: poetry-check, flake8

Fix rhino3dm dependency
  poetry.lock
  pyproject.toml
Due: poetry-check

Try rhino3dm with macos-11
  .github/workflows/tests.yml
Due: none
