Repository robbievanleeuwen/section-properties: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, rstcheck, flake8, pylint

poetry-check:
  name: poetry-check
  language: system
  entry: poetry check
  pass_filenames: false

rstcheck:
  name: rstcheck
  language: system
  entry: poetry run rstcheck

flake8:
  name: flake8
  language: system
  entry: poetry run flake8
  require_serial: true

pylint:
  name: pylint
  language: system
  entry: poetry run pylint
  args:
  - --disable=fixme
  require_serial: true

Feature: Added 'size' and 'dpi' args to Geometry.plot_geometry() functions to control size of plots
  sectionproperties/pre/sections.py
Due: flake8, pylint

Feature: Updated Geometry.plot_geometry() to allow for adjustment of size and resolution of plot
  sectionproperties/post/post.py
  sectionproperties/pre/sections.py
Due: flake8, pylint

Fix: Updated Geometry.offset_perimeter() to allow for offset of interiors and exteriors independently. Tests: Fixed broken test for CompoundGeometry.from_points()
  sectionproperties/pre/sections.py
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Feat: Added .assigned_control_point functionality to Geometry
  sectionproperties/pre/sections.py
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Feature: Added Geometry.assign_control_point() and casually tested control point persistence with geometry operations
  sectionproperties/pre/sections.py
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Fix: doc string for Geometry.plot_geometry(); Fix: pre.dxf removed reference to temporary file and made cad_to_shapely a project requirement
  sectionproperties/pre/dxf.py
  sectionproperties/pre/sections.py
Due: flake8, pylint

Docs: Geom mesh
  docs/source/rst/geom_mesh.rst
Due: rstcheck

Started advanced_geom.rst; fixed empty axis plotting issue in Geometry.plot_geometry()
  docs/source/rst/advanced_geom.rst
  sectionproperties/post/post.py
  sectionproperties/pre/sections.py
Due: rstcheck, flake8, pylint

docs: wrote advanced_geom.rst and created images
  docs/source/images/examples/basic_combined_mesh_error.png
  docs/source/images/examples/basic_compound.png
  docs/source/images/examples/basic_compound_plot.png
  docs/source/images/examples/basic_difference.png
  docs/source/images/examples/basic_reverse_difference.png
  docs/source/images/examples/basic_union.png
  docs/source/images/examples/combined_section_lucky.png
  docs/source/images/examples/combined_section_lucky_plot.png
  docs/source/images/examples/complete_combined.png
  docs/source/images/examples/complete_combined_mesh.png
  docs/source/images/examples/complete_combined_plot.png
  docs/source/images/examples/i_sec1.png
  docs/source/images/examples/i_sec2.png
  docs/source/images/examples/i_sec2_with_added_points.png
  docs/source/images/examples/sec1_nodes_added.png
  docs/source/index.rst
  docs/source/rst/advanced_geom.rst
  docs/source/rst/examples.rst
  docs/source/rst/geom_mesh.rst
Due: rstcheck

docs: revisions and rewrites to advanced_geom.rst
  docs/source/images/examples/combined_section_common_nodes.png
  docs/source/rst/advanced_geom.rst
  docs/source/rst/geom_mesh.rst
Due: rstcheck

docs: update installation.rst and structure.rst; feat: implement more customized plotting for plot_stress_contours()
  docs/source/rst/installation.rst
  docs/source/rst/structure.rst
  sectionproperties/analysis/cross_section.py
  sectionproperties/pre/sections.py
Due: rstcheck, flake8, pylint

feat: updated all stress plotting functions with new args - size, dpi, normalize
  sectionproperties/analysis/cross_section.py
Due: flake8, pylint

feat: changed color bar on plots so that it always matches the height of the stress plot
  sectionproperties/analysis/cross_section.py
Due: flake8, pylint

docs: updated logo and examples in index.rst and doc string examples in cross_section.py; updating stress contour example images, will require further updates to stress contour plotting
  docs/source/images/logo.png
  docs/source/index.rst
  docs/source/rst/installation.rst
  sectionproperties/analysis/cross_section.py
Due: rstcheck, flake8, pylint

docs: Updated stress plot images from doc string examples in cross_sections.py
  docs/source/images/stress/stress_m11_zz.png
  docs/source/images/stress/stress_m22_zz.png
  docs/source/images/stress/stress_m_zz.png
  docs/source/images/stress/stress_mxx_zz.png
  docs/source/images/stress/stress_myy_zz.png
  docs/source/images/stress/stress_mzz_zx.png
  docs/source/images/stress/stress_mzz_zxy.png
  docs/source/images/stress/stress_mzz_zy.png
  docs/source/images/stress/stress_n_zz.png
  docs/source/images/stress/stress_v_zx.png
  docs/source/images/stress/stress_v_zxy.png
  docs/source/images/stress/stress_v_zy.png
  docs/source/images/stress/stress_vm.png
  docs/source/images/stress/stress_vx_zx.png
  docs/source/images/stress/stress_vx_zxy.png
  docs/source/images/stress/stress_vx_zy.png
  docs/source/images/stress/stress_vy_zx.png
  docs/source/images/stress/stress_vy_zxy.png
  docs/source/images/stress/stress_vy_zy.png
  docs/source/images/stress/stress_zx.png
  docs/source/images/stress/stress_zxy.png
  docs/source/images/stress/stress_zy.png
  docs/source/images/stress/stress_zz.png
  docs/source/images/stress/vector_mzz_zxy.png
  docs/source/images/stress/vector_v_zxy.png
  docs/source/images/stress/vector_vx_zxy.png
  docs/source/images/stress/vector_vy_zxy.png
  docs/source/images/stress/vector_zxy.png
  sectionproperties/analysis/cross_section.py
  sectionproperties/pre/sections.py
Due: flake8, pylint

Added principal stresses
  docs/source/images/stress/stress_1.png
  docs/source/images/stress/stress_2.png
  docs/source/rst/post.rst
  sectionproperties/analysis/cross_section.py
Due: rstcheck, flake8, pylint

Undid black formatting
  sectionproperties/analysis/cross_section.py
Due: flake8, pylint

Minor typo (literally)
  docs/source/rst/post.rst
  sectionproperties/analysis/cross_section.py
Due: rstcheck, flake8, pylint

Remove capitalist links
  README.md
Due: none

Add disclaimer to README, update license year
  LICENSE
  README.md
  README_pypi.rst
  docs/source/index.rst
Due: rstcheck

Test change
  sectionproperties/pre/sections.py
Due: flake8, pylint

DEL: Removed offset.py from repo. Functionality has been incorporated into Geometry class.
  sectionproperties/pre/offset.py
Due: flake8, pylint

Bump python requirement to 3.8; remove PyPI rst readme
  .travis.yml
  CODE_OF_CONDUCT.md
  MANIFEST.in
  setup.py
Due: flake8

Add pytest_check and more_itertools to setup requirements; remove reference to IPython
  sectionproperties/pre/sections.py
  setup.py
Due: flake8, pylint

docs: update docstring examples in analysis
  sectionproperties/analysis/cross_section.py
Due: flake8, pylint

Delete README_pypi.rst
  README_pypi.rst
Due: rstcheck

Fix docs build errors related to code example formatting
  sectionproperties/analysis/cross_section.py
Due: flake8, pylint

Change support links on index, fix links and python version on installation page, change year in conf.py
  docs/source/conf.py
  docs/source/index.rst
  docs/source/rst/installation.rst
Due: rstcheck, flake8

Minor docs changes
  docs/source/rst/structure.rst
Due: rstcheck

docs: update docstring params for new params
  sectionproperties/analysis/cross_section.py
Due: flake8, pylint

docs: Update figures in post
  docs/source/images/angle_centroids.png
  docs/source/images/pfc_centroids.png
  docs/source/images/stress/stress_m11_zz.png
  docs/source/images/stress/stress_m22_zz.png
  docs/source/images/stress/stress_m_zz.png
  docs/source/images/stress/stress_mxx_zz.png
  docs/source/images/stress/stress_myy_zz.png
  docs/source/images/stress/stress_mzz_zx.png
  docs/source/images/stress/stress_mzz_zxy.png
  docs/source/images/stress/stress_mzz_zy.png
  docs/source/images/stress/stress_n_zz.png
  docs/source/images/stress/stress_v_zx.png
  docs/source/images/stress/stress_v_zxy.png
  docs/source/images/stress/stress_v_zy.png
  docs/source/images/stress/stress_vm.png
  docs/source/images/stress/stress_vx_zx.png
  docs/source/images/stress/stress_vx_zxy.png
  docs/source/images/stress/stress_vx_zy.png
  docs/source/images/stress/stress_vy_zx.png
  docs/source/images/stress/stress_vy_zxy.png
  docs/source/images/stress/stress_vy_zy.png
  docs/source/images/stress/stress_zx.png
  docs/source/images/stress/stress_zxy.png
  docs/source/images/stress/stress_zy.png
  docs/source/images/stress/stress_zz.png
  docs/source/images/stress/vector_mzz_zxy.png
  docs/source/images/stress/vector_v_zxy.png
  docs/source/images/stress/vector_vx_zxy.png
  docs/source/images/stress/vector_vy_zxy.png
  docs/source/images/stress/vector_zxy.png
Due: none

Edits to the Creating Geometries, Meshes, and Material Properties docs
  docs/source/rst/advanced_geom.rst
  docs/source/rst/examples.rst
  docs/source/rst/geom_mesh.rst
  docs/source/rst/post.rst
  docs/source/rst/structure.rst
  sectionproperties/pre/sections.py
Due: rstcheck, flake8, pylint

Advanced geom docs edits
  docs/source/rst/advanced_geom.rst
Due: rstcheck

docs: plot_centroid add missing params to docstr
  sectionproperties/analysis/cross_section.py
Due: flake8, pylint

Fix: control point rotation
  sectionproperties/pre/sections.py
Due: flake8, pylint

Fix: Compound Rotation Operation
  sectionproperties/pre/sections.py
Due: flake8, pylint

Path conditions:
  poetry-check: any of: ^(pyproject.toml|poetry.lock)$
  rstcheck: any of: \.rst$
  flake8: any of: \.py$
  pylint: any of: ^sectionproperties/ and \.py$
