Repository robbievanleeuwen/section-properties: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, rstcheck, flake8, pylint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        language: system
        entry: poetry check
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock)$

      - id: isort
        name: isort
        language: system
        entry: poetry run isort
        args: ['--check-only', '--filter-files']
        require_serial: true
        types_or: [cython, pyi, python]

      - id: black
        name: black
        language: system
        entry: poetry run black
        args: ['--check']
        require_serial: true
        types_or: [python, pyi]

      - id: rstcheck
        name: rstcheck
        language: system
        entry: poetry run rstcheck
        types: [rst]

      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        require_serial: true
        types: [python]

      - id: pylint
        name: pylint
        language: system
        entry: poetry run pylint
        args: ['--disable=fixme']
        require_serial: true
        types: [python]
        files: ^sectionproperties/

Fix build errors on readthedocs
  docs/source/conf.py
Due: flake8

Try mocking matplotlib in docs
  docs/source/conf.py
Due: flake8

Running analysis minor edits
  docs/source/rst/analysis.rst
  sectionproperties/analysis/cross_section.py
Due: rstcheck, flake8, pylint

Fix: material propogation bug that occurred in #97
  sectionproperties/pre/sections.py
Due: flake8, pylint

Fix: Updated post.finish_plot() to not overwrite existing axis legend
  sectionproperties/analysis/cross_section.py
  sectionproperties/post/post.py
Due: flake8, pylint

Fix: line 736: warping section was being passed parameters from an old function signature - self.materials was being passed as the time_info argument, which was truthy
  sectionproperties/analysis/cross_section.py
Due: flake8, pylint

Add importing for rhino pre.rhino
  sectionproperties/pre/rhino.py
Due: flake8, pylint

Added Classmethods for Rhino Files and Encodings
  sectionproperties/pre/sections.py
Due: flake8, pylint

Tests: Importing Rhino File and Brep Encoding
  sectionproperties/tests/3in x 2in.3dm
  sectionproperties/tests/complex_shape.3dm
  sectionproperties/tests/complex_shape.txt
  sectionproperties/tests/compound_shape.3dm
  sectionproperties/tests/compound_shape.txt
  sectionproperties/tests/rhino_data.json
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Update setup.py to Include Rhino Importer
  setup.py
Due: flake8

Add Docs for Rhino Imports
  docs/source/rst/geom_mesh.rst
Due: rstcheck

Tests: Update Tests to Use Class Methods
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Slacken Dependency Const on rhino_shapely_interop
  setup.py
Due: flake8

Mohrs Circles for 3D stresses
  docs/source/images/stress/mohrs_circles.png
  docs/source/rst/post.rst
  sectionproperties/analysis/cross_section.py
Due: rstcheck, flake8, pylint

rename func
  sectionproperties/analysis/cross_section.py
Due: flake8, pylint

Add Mohrs to V2
  docs/source/images/stress/mohrs_circles.png
  sectionproperties/analysis/cross_section.py
Due: flake8, pylint

Test: Added test for correct results for plastic centroid as per #114; Fix: faulty error message configuration in sections.load_dxf()
  sectionproperties/pre/sections.py
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Docs: Updated docstring in CompoundGeometry.align_center() to reflect weighted calculation by material
  sectionproperties/pre/sections.py
Due: flake8, pylint

Docs: Added additional example to advanced_geom.rst to address modelling problems described in #112
  docs/source/images/examples/two_squares_basic.png
  docs/source/images/examples/two_squares_basic_rotated.png
  docs/source/images/examples/two_squares_basic_rotated_plot.png
  docs/source/images/examples/two_squares_fixed_plot.png
  docs/source/images/examples/two_squares_large_square_int_points.png
  docs/source/rst/advanced_geom.rst
  sectionproperties/pre/sections.py
Due: rstcheck, flake8, pylint

Docs: fixed link in advanced_geom.rst
  docs/source/rst/advanced_geom.rst
Due: rstcheck

Add rhino_shapely_interop to mock imports
  docs/source/conf.py
Due: flake8

Add get_nu_eff function and print effective Poisson's ratio when using material props
  sectionproperties/analysis/cross_section.py
  sectionproperties/post/post.py
Due: flake8, pylint

Only calculate shape factor if material properties have not been defined
  sectionproperties/analysis/cross_section.py
Due: flake8, pylint

Print J & Iw as E.J & E.Iw in display_results() for consistency
  sectionproperties/post/post.py
Due: flake8, pylint

Consistent printing for shear areas, refactor J & Iw printing
  sectionproperties/post/post.py
Due: flake8, pylint

Add reporting of area effective E & G
  sectionproperties/analysis/cross_section.py
  sectionproperties/post/post.py
Due: flake8, pylint

Fix: Update Example Files to New v2 API
  sectionproperties/examples/example_advanced1.py
  sectionproperties/examples/example_advanced2.py
  sectionproperties/examples/example_composite.py
  sectionproperties/examples/example_custom.py
  sectionproperties/examples/example_frame.py
  sectionproperties/examples/example_merged.py
  sectionproperties/examples/example_mirr_rot.py
  sectionproperties/examples/example_nastran_section.py
  sectionproperties/examples/example_simple.py
  sectionproperties/examples/example_stress.py
Due: flake8, pylint

Fix: Sphinx Warnings and Module Import Warnings
  docs/source/conf.py
  docs/source/rst/post.rst
  sectionproperties/analysis/cross_section.py
Due: rstcheck, flake8, pylint

Docs: Update Example Docs
  docs/source/rst/examples.rst
  sectionproperties/examples/README.md
Due: rstcheck

Minor running analysis changes
  sectionproperties/analysis/cross_section.py
Due: flake8, pylint

Post changes including material property section, theoretical background skeleton, fix some post examples in cross_section.py
  docs/source/conf.py
  docs/source/images/stress/stress_1.png
  docs/source/images/stress/stress_2.png
  docs/source/images/stress/stress_3.png
  docs/source/rst/post.rst
  docs/source/rst/theory.rst
Due: rstcheck, flake8

Include cross_section.py changes
  sectionproperties/analysis/cross_section.py
Due: flake8, pylint

Theory introduction, mesh generation, finite element prelims
  docs/source/images/theory/arbitrarySection.png
  docs/source/images/theory/int1.png
  docs/source/images/theory/int2.png
  docs/source/images/theory/int3.png
  docs/source/images/theory/isoparametric.png
  docs/source/images/theory/six-noded-triangle.png
  docs/source/rst/theory.rst
Due: rstcheck

Area section props theory
  docs/source/rst/theory.rst
Due: rstcheck

Warping, shear theory
  docs/source/rst/theory.rst
Due: rstcheck

Stress theory
  docs/source/rst/theory.rst
Due: rstcheck

Theory - monosymmetry, plastic, principal stress
  docs/source/rst/theory.rst
Due: rstcheck

Theory - composite
  docs/source/rst/theory.rst
Due: rstcheck

Stop material labels from displaying over stress scale for vector plots
  sectionproperties/analysis/cross_section.py
Due: flake8, pylint

Restructure for section library
  docs/source/conf.py
  docs/source/rst/api.rst
  docs/source/rst/geom_mesh.rst
  docs/source/rst/post.rst
  sectionproperties/pre/dxf.py
  sectionproperties/pre/library/bridge_beams.py
  sectionproperties/pre/library/concrete_sections.py
  sectionproperties/pre/library/nastran_sections.py
  sectionproperties/pre/library/standard_sections.py
  sectionproperties/pre/library/steel_sections.py
  sectionproperties/pre/library/utils.py
  sectionproperties/pre/sections.py
Due: rstcheck, flake8, pylint
