Repository robbievanleeuwen/section-properties: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, rstcheck, flake8, pylint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        language: system
        entry: poetry check
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock)$

      - id: isort
        name: isort
        language: system
        entry: poetry run isort
        args: ['--check-only', '--filter-files']
        require_serial: true
        types_or: [cython, pyi, python]

      - id: black
        name: black
        language: system
        entry: poetry run black
        args: ['--check']
        require_serial: true
        types_or: [python, pyi]

      - id: rstcheck
        name: rstcheck
        language: system
        entry: poetry run rstcheck
        types: [rst]

      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        require_serial: true
        types: [python]

      - id: pylint
        name: pylint
        language: system
        entry: poetry run pylint
        args: ['--disable=fixme']
        require_serial: true
        types: [python]
        files: ^sectionproperties/

Update constraints.txt
  .github/workflows/constraints.txt
Due: none

rhino3dm==7.15.0, reset macos-latest for py3.8
  .github/workflows/tests.yml
  poetry.lock
  pyproject.toml
Due: poetry-check

Fix darglint errors, remove unused test
  .darglint
  noxfile.py
  src/sectionproperties/analysis/fea.py
  src/sectionproperties/analysis/plastic_section.py
  src/sectionproperties/analysis/section.py
  src/sectionproperties/analysis/solver.py
  src/sectionproperties/post/post.py
  src/sectionproperties/post/stress_post.py
  src/sectionproperties/pre/geometry.py
  src/sectionproperties/pre/library/bridge_sections.py
  src/sectionproperties/pre/library/concrete_sections.py
  src/sectionproperties/pre/library/nastran_sections.py
  src/sectionproperties/pre/library/primitive_sections.py
  src/sectionproperties/pre/library/steel_sections.py
  src/sectionproperties/pre/library/utils.py
  src/sectionproperties/pre/pre.py
  src/sectionproperties/pre/rhino.py
  tests/test_bisect_section.py
  tests/test_main.py
  tests/test_offset.py
  tests/test_peery.py
Due: flake8

Fix peery test I broke...
  tests/test_peery.py
Due: flake8

Fix coverage errors
  noxfile.py
Due: flake8

Fix coverage errors part 2
  .github/workflows/tests.yml
Due: none

Update package versions
  .flake8
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  tests/test_stress.py
Due: poetry-check, flake8

Fix test_stress
  tests/test_stress.py
Due: flake8

Fix sphinx configuration
  docs/conf.py
Due: flake8

Materials docs
  docs/user_guide/materials.rst
Due: rstcheck

Add installation docs
  docs/index.rst
  docs/installation.rst
Due: rstcheck

Fix cad extras
  noxfile.py
  poetry.lock
  pyproject.toml
Due: poetry-check, flake8

Fix autosummary templates
  docs/_templates/custom-class-template.rst
  docs/_templates/custom-function-template.rst
  docs/_templates/custom-module-template.rst
  docs/api.rst
Due: rstcheck

Start geometry docs
  docs/user_guide/geometry.rst
  src/sectionproperties/pre/geometry.py
Due: rstcheck, flake8

Re-enable mesh legend
  src/sectionproperties/analysis/section.py
Due: flake8

Continue geometry documentation
  docs/_static/cad_files/box_section.dxf
  docs/_static/cad_files/rhino.3dm
  docs/_static/cad_files/rhino_brep.json
  docs/_static/cad_files/rhino_compound.3dm
  docs/user_guide/geometry.rst
  src/sectionproperties/pre/geometry.py
Due: rstcheck, flake8

Update geometry docs, update pre-commit
  .pre-commit-config.yaml
  docs/user_guide/geometry.rst
  src/sectionproperties/pre/library/nastran_sections.py
Due: rstcheck, flake8

Fix print_results pythonic inconsistencies
  src/sectionproperties/post/post.py
Due: flake8

Prepare notebook examples integration
  .github/workflows/tests.yml
  .gitignore
  .readthedocs.yaml
  CONTRIBUTING.md
  docs/conf.py
  docs/examples/matplotlibrc
  docs/requirements.txt
  noxfile.py
  poetry.lock
  pyproject.toml
Due: poetry-check, flake8

Add simple circle example
  docs/examples.rst
  docs/examples/simple_circle.ipynb
Due: rstcheck

Fix tests pandoc install, remove kernel metadata from notebook
  .github/workflows/tests.yml
  docs/examples/simple_circle.ipynb
Due: none

Try to fix pandoc
  .github/workflows/tests.yml
Due: none

Try with default kernel info
  docs/examples/simple_circle.ipynb
Due: none

Fix pre-commit black by omitting jupyter for now
  .pre-commit-config.yaml
Due: none

Replace cad extra with dxf and rhino
  .readthedocs.yaml
  docs/installation.rst
  docs/user_guide/geometry.rst
  noxfile.py
  poetry.lock
  pyproject.toml
  src/sectionproperties/pre/geometry.py
  tests/test_geometry.py
Due: poetry-check, rstcheck, flake8

Add advanced geometry example
  docs/examples.rst
  docs/examples/advanced_geometry.ipynb
  docs/user_guide/geometry.rst
Due: rstcheck

Try upgrade pandoc with conda
  .readthedocs.yaml
Due: none

Use built-in pandoc
  .readthedocs.yaml
Due: none

Require nbconvert==7.4.0
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: poetry-check

Finish geometry docs
  docs/user_guide/geometry.rst
  docs/user_guide/materials.rst
  src/sectionproperties/pre/geometry.py
Due: rstcheck, flake8

Remove unnecessary parentheses
  docs/user_guide/overview.rst
  docs/user_guide/validation.rst
Due: rstcheck

Meshing documentation
  docs/user_guide/meshing.rst
Due: rstcheck

Fix CompoundGeometry.from_points() material behaviour
  src/sectionproperties/pre/geometry.py
Due: flake8

Fix geometry docs examples
  docs/user_guide/geometry.rst
Due: rstcheck

Add all examples, finish geometry examples
  docs/examples.rst
  docs/examples/advanced/advanced_plot.ipynb
  docs/examples/advanced/matplotlibrc
  docs/examples/advanced/mesh_refinement.ipynb
  docs/examples/advanced/peery.ipynb
  docs/examples/advanced/rectangle_torsion.ipynb
  docs/examples/advanced/trapezoidal_torsion.ipynb
  docs/examples/analysis/frame_analysis.ipynb
  docs/examples/analysis/geometric_analysis.ipynb
  docs/examples/analysis/matplotlibrc
  docs/examples/analysis/plastic_analysis.ipynb
  docs/examples/analysis/stress_analysis.ipynb
  docs/examples/analysis/warping_analysis.ipynb
  docs/examples/geometry/advanced_geometry.ipynb
  docs/examples/geometry/create_mesh.ipynb
  docs/examples/geometry/geometry_cad.ipynb
  docs/examples/geometry/geometry_coordinates.ipynb
  docs/examples/geometry/geometry_manipulation.ipynb
  docs/examples/geometry/matplotlibrc
  docs/examples/geometry/section_library.ipynb
  docs/examples/materials/assign_materials.ipynb
  docs/examples/materials/composite_analysis.ipynb
  docs/examples/materials/matplotlibrc
  docs/examples/results/display_results.ipynb
  docs/examples/results/get_results.ipynb
  docs/examples/results/get_stress.ipynb
  docs/examples/results/matplotlibrc
  docs/examples/results/plot_centroids.ipynb
  docs/examples/results/plot_stress.ipynb
  docs/examples/simple_circle.ipynb
Due: rstcheck

Reset gallery thumbnails
  docs/examples/geometry/create_mesh.ipynb
  docs/examples/geometry/geometry_cad.ipynb
  docs/examples/geometry/geometry_manipulation.ipynb
Due: none

Add gallery thumbnail to end of notebook
  docs/examples/geometry/create_mesh.ipynb
  docs/examples/geometry/geometry_cad.ipynb
  docs/examples/geometry/geometry_manipulation.ipynb
Due: none

Add peery example
  docs/examples/advanced/peery.ipynb
Due: none

Allow unlipped cee and zed steel_sections
  sectionproperties/pre/library/steel_sections.py
Due: flake8, pylint

Add trapezoidal torsion example
  docs/examples.rst
  docs/examples/advanced/mesh_refinement.ipynb
  docs/examples/advanced/trapezoidal_torsion.ipynb
Due: rstcheck
