Repository robbievanleeuwen/section-properties: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, rstcheck, flake8, pylint

poetry-check:
  name: poetry-check
  language: system
  entry: poetry check
  pass_filenames: false

rstcheck:
  name: rstcheck
  language: system
  entry: poetry run rstcheck

flake8:
  name: flake8
  language: system
  entry: poetry run flake8
  require_serial: true

pylint:
  name: pylint
  language: system
  entry: poetry run pylint
  args:
  - --disable=fixme
  require_serial: true

Bump rhino3dm, remove python restriction; change dev dependency group naming
  noxfile.py
  poetry.lock
  pyproject.toml
Due: poetry-check, flake8

Remove rhino skips from tests
  tests/geometry/test_geometry.py
Due: flake8

Require pytest-benchmark for nox tests run
  noxfile.py
Due: flake8

Don't incorrectly use mark.benchmark
  noxfile.py
  pyproject.toml
  tests/benchmarks/test_benchmark_analysis.py
  tests/benchmarks/test_benchmark_geom.py
  tests/benchmarks/test_benchmark_mesh.py
Due: poetry-check, flake8

Update docs
  CONTRIBUTING.md
  docs/contributing.rst
  docs/installation.rst
  docs/user_guide/geometry.rst
Due: rstcheck

Build with python 3.11
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .readthedocs.yaml
  noxfile.py
Due: flake8

Build docs with python 3.10
  .github/workflows/tests.yml
  .readthedocs.yaml
  noxfile.py
Due: flake8

Don't include benchmarks in coverage
  pyproject.toml
Due: poetry-check

Close plots in tests
  tests/post/test_post.py
Due: flake8

Minor update
  docs/installation.rst
  pyproject.toml
  src/sectionproperties/analysis/fea.py
Due: poetry-check, rstcheck, flake8

Regenerate lock file, docs spelling
  docs/installation.rst
  poetry.lock
  pyproject.toml
Due: poetry-check, rstcheck

Bump version to 3.1.0
  .github/release-drafter.yml
  pyproject.toml
Due: poetry-check

Fix .gitignore, contributing
  .github/release-drafter.yml
  .gitignore
  CONTRIBUTING.md
  docs/contributing.rst
Due: rstcheck

Add joss paper template and workflow
  .github/workflows/draft-pdf.yml
  paper/figures/arbitrary-section.png
  paper/paper.bib
  paper/paper.md
Due: none

Bump version to 3.1.1
  .github/release-drafter.yml
  pyproject.toml
Due: poetry-check

Fix references test
  README.md
  paper/paper.md
Due: none

Fix references take 2
  .github/workflows/draft-pdf.yml
  paper/paper.md
Due: none

Attempt to fix figure caption
  paper/paper.md
Due: none

Paper updates
  paper/paper.md
Due: none

Update paper.md, add paper example
  .pre-commit-config.yaml
  docs/user_guide/theory.rst
  paper/example/paper_example.ipynb
  paper/figures/arbitrary-section.png
  paper/figures/example.png
  paper/paper.bib
  paper/paper.md
Due: rstcheck

Minor updates to paper.md
  paper/paper.md
Due: none

Minor updates to paper.md and paper.bib
  paper/paper.bib
  paper/paper.md
Due: none

Suppress numba performance warning, fix calculate_stress time info
  src/sectionproperties/analysis/fea.py
  src/sectionproperties/analysis/section.py
Due: flake8

Paper.md edits, update shapely reference
  paper/paper.bib
  paper/paper.md
Due: none

Use exact constraint
  src/sectionproperties/analysis/fea.py
  src/sectionproperties/analysis/section.py
Due: flake8

Add mypy package, add to noxfile and tests
  .github/workflows/tests.yml
  noxfile.py
  poetry.lock
  pyproject.toml
Due: poetry-check, flake8

First round of mypy changes
  noxfile.py
  src/sectionproperties/analysis/fea.py
  src/sectionproperties/analysis/plastic_section.py
  src/sectionproperties/analysis/section.py
  src/sectionproperties/post/fibre.py
  src/sectionproperties/post/post.py
  src/sectionproperties/post/stress_post.py
  src/sectionproperties/pre/geometry.py
  src/sectionproperties/pre/library/concrete_sections.py
  src/sectionproperties/pre/library/nastran_sections.py
  src/sectionproperties/pre/library/steel_sections.py
  src/sectionproperties/pre/pre.py
Due: flake8

Fix self.material in CompoundGeometry
  .gitignore
  src/sectionproperties/pre/geometry.py
Due: flake8

Update Lagrangian Multiplier theory
  docs/user_guide/theory.rst
  paper/paper.md
Due: rstcheck

Minor update
  paper/paper.md
Due: none

Use explicit arguments
  src/sectionproperties/analysis/section.py
Due: flake8

Plot warping function only over section extents
  src/sectionproperties/analysis/section.py
Due: flake8

Increase mypy strictness
  pyproject.toml
  src/sectionproperties/post/fibre.py
Due: poetry-check, flake8

Fix mypy errors
  src/sectionproperties/analysis/fea.py
  src/sectionproperties/analysis/section.py
  src/sectionproperties/analysis/solver.py
  src/sectionproperties/post/post.py
  src/sectionproperties/post/stress_post.py
  src/sectionproperties/pre/bisect_section.py
  src/sectionproperties/pre/geometry.py
Due: flake8

Mypy strict=True, more mypy fixes
  pyproject.toml
  src/sectionproperties/analysis/fea.py
  src/sectionproperties/analysis/plastic_section.py
  src/sectionproperties/analysis/section.py
  src/sectionproperties/analysis/solver.py
  src/sectionproperties/post/fibre.py
  src/sectionproperties/post/post.py
  src/sectionproperties/post/stress_post.py
  src/sectionproperties/pre/geometry.py
  src/sectionproperties/pre/library/steel_sections.py
  src/sectionproperties/pre/pre.py
  src/sectionproperties/pre/rhino.py
Due: poetry-check, flake8

Fix matplotlib import
  src/sectionproperties/post/stress_post.py
Due: flake8

mypy plot_warping_function
  src/sectionproperties/analysis/fea.py
  src/sectionproperties/analysis/section.py
Due: flake8

Fix material_mapping type
  src/sectionproperties/post/fibre.py
Due: flake8

Make numba optional
  .readthedocs.yaml
  docs/installation.rst
  noxfile.py
  poetry.lock
  pyproject.toml
  src/sectionproperties/analysis/fea.py
Due: poetry-check, rstcheck, flake8

Fix darglint
  src/sectionproperties/analysis/fea.py
Due: flake8

Path conditions:
  poetry-check: any of: ^(pyproject.toml|poetry.lock)$
  rstcheck: any of: \.rst$
  flake8: any of: \.py$
  pylint: any of: ^sectionproperties/ and \.py$
