Repository robbievanleeuwen/section-properties: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, rstcheck, flake8, pylint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        language: system
        entry: poetry check
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock)$

      - id: isort
        name: isort
        language: system
        entry: poetry run isort
        args: ['--check-only', '--filter-files']
        require_serial: true
        types_or: [cython, pyi, python]

      - id: black
        name: black
        language: system
        entry: poetry run black
        args: ['--check']
        require_serial: true
        types_or: [python, pyi]

      - id: rstcheck
        name: rstcheck
        language: system
        entry: poetry run rstcheck
        types: [rst]

      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        require_serial: true
        types: [python]

      - id: pylint
        name: pylint
        language: system
        entry: poetry run pylint
        args: ['--disable=fixme']
        require_serial: true
        types: [python]
        files: ^sectionproperties/

Lint and remove rectangle.py
  examples/11-simo/rectangle.py
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Add test files to manifest; use pathlib for test imports
  MANIFEST.in
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Add table output for display_results(); pretty mesh_info; fix time_info=False
  sectionproperties/analysis/section.py
  sectionproperties/post/post.py
Due: flake8, pylint

Lint
  sectionproperties/post/post.py
Due: flake8, pylint

Add disjoint test
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Update implementation of geometry.check_geometry_disjoint() for more robustness
  sectionproperties/pre/geometry.py
Due: flake8, pylint

Added test from Robbie
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

blackify
  sectionproperties/pre/geometry.py
Due: flake8, pylint

Add another disjoint test
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Fix: check_geometry_disjoint() implementation updated to build connectivity graph of Geometry polygons
  sectionproperties/pre/geometry.py
Due: flake8, pylint

Manually added disjoint test by @robbievanleeuwen because my branch would not pull his changes...?
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

blackify
  sectionproperties/pre/geometry.py
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Removed print statements 🤦
  sectionproperties/pre/geometry.py
Due: flake8, pylint

Add material tests for .from_points(); fix some testing warnings
  sectionproperties/analysis/section.py
  sectionproperties/post/post.py
  sectionproperties/pre/geometry.py
  sectionproperties/pre/rhino.py
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Updated implementation of CompoundGeometry.from_points() to include materials as per #199
  sectionproperties/pre/geometry.py
Due: flake8, pylint

Bump version; update changelog
  CHANGELOG.rst
  README.md
  sectionproperties/__init__.py
Due: rstcheck, flake8, pylint

Update CHANGELOG.rst
  CHANGELOG.rst
Due: rstcheck

Added advanced example on trapezoid approximation for torsion constant
  examples/01-advanced/05_trapz_approximation.py
Due: flake8

Added mesh plotting
  examples/01-advanced/05_trapz_approximation.py
Due: flake8

Added mesh plots as example
  examples/01-advanced/05_trapz_approximation.py
Due: flake8

Use lagrangian multiplier for warping function
  sectionproperties/analysis/section.py
Due: flake8, pylint

Lint with black
  sectionproperties/analysis/section.py
Due: flake8, pylint

Minor edits
  examples/01-advanced/05_trapz_approximation.py
Due: flake8

Fix frame_properties
  sectionproperties/analysis/section.py
Due: flake8, pylint

Minor spellings
  examples/01-advanced/05_trapz_approximation.py
Due: flake8

Add Global to Local Coordinate Mapping
  sectionproperties/analysis/fea.py
Due: flake8, pylint

Add Local Stress at a Point Functionality to Tri6
  sectionproperties/analysis/fea.py
Due: flake8, pylint

blackify
  sectionproperties/analysis/fea.py
Due: flake8, pylint

Update requirements_docs.txt
  docs/source/requirements_docs.txt
Due: none

Switch to combined stresses
  sectionproperties/analysis/fea.py
Due: flake8, pylint

Add stress at point to section
  sectionproperties/analysis/section.py
Due: flake8, pylint

blackify
  sectionproperties/analysis/fea.py
  sectionproperties/analysis/section.py
Due: flake8, pylint

Handle points outside section
  sectionproperties/analysis/section.py
Due: flake8, pylint

Add labels to docs
  docs/source/rst/geom_mesh.rst
  docs/source/rst/section_library.rst
Due: rstcheck

Another label
  docs/source/rst/geom_mesh.rst
Due: rstcheck

Add plot_geometry options
  sectionproperties/pre/geometry.py
Due: flake8, pylint

Bump version
  CHANGELOG.rst
  sectionproperties/__init__.py
Due: rstcheck, flake8, pylint

Rhino as an optional dependency
  .github/workflows/tests.yml
  docs/source/rst/geom_mesh.rst
  docs/source/rst/installation.rst
  setup.cfg
Due: rstcheck

Bump version
  .github/workflows/code_coverage.yml
  CHANGELOG.rst
  sectionproperties/__init__.py
Due: rstcheck, flake8, pylint
