Repository robbievanleeuwen/section-properties: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, rstcheck, flake8, pylint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        language: system
        entry: poetry check
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock)$

      - id: isort
        name: isort
        language: system
        entry: poetry run isort
        args: ['--check-only', '--filter-files']
        require_serial: true
        types_or: [cython, pyi, python]

      - id: black
        name: black
        language: system
        entry: poetry run black
        args: ['--check']
        require_serial: true
        types_or: [python, pyi]

      - id: rstcheck
        name: rstcheck
        language: system
        entry: poetry run rstcheck
        types: [rst]

      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        require_serial: true
        types: [python]

      - id: pylint
        name: pylint
        language: system
        entry: poetry run pylint
        args: ['--disable=fixme']
        require_serial: true
        types: [python]
        files: ^sectionproperties/

Move more mock imports to requirements file
  docs/source/conf.py
  docs/source/requirements_docs.txt
Due: flake8

Move rhino_shapely back to mocks, try meshpy requirements
  docs/source/conf.py
  docs/source/requirements_docs.txt
Due: flake8

Move mpl_toolkits to mock imports
  docs/source/conf.py
  docs/source/requirements_docs.txt
Due: flake8

Add complete erode compound offset test
  sectionproperties/tests/test_offset.py
Due: flake8, pylint

Bring examples up to date with #133 and #136
  examples/00-basic/03_custom.py
  examples/00-basic/04_merged.py
  examples/00-basic/07_composite.py
Due: flake8

Add rhino-shapley-interop to docs dependencies
  docs/source/requirements_docs.txt
Due: none

Add missing rst code blocks
  docs/source/rst/advanced_geom.rst
Due: rstcheck

Add check for empty geometries in .offset_perimeter(); add docs string for test_offset test
  sectionproperties/pre/sections.py
  sectionproperties/tests/test_offset.py
Due: flake8, pylint

Black on test_offset.py
  sectionproperties/tests/test_offset.py
Due: flake8, pylint

Fixes to .mirror_section() (#144), fixes also to .shift_points(); Tests: two additional tests for mirror_section and shift_points in test_sections.py
  sectionproperties/pre/sections.py
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Add readthedocs Configuration File
  .readthedocs.yaml
Due: none

Create PR if code not formatted with black
  .github/workflows/black.yml
Due: none

:art: Format python code with psf/black
  docs/source/conf.py
  sectionproperties/analysis/cross_section.py
  sectionproperties/analysis/fea.py
  sectionproperties/analysis/solver.py
  sectionproperties/examples/example_advanced1.py
  sectionproperties/examples/example_advanced2.py
  sectionproperties/examples/example_composite.py
  sectionproperties/examples/example_custom.py
  sectionproperties/examples/example_frame.py
  sectionproperties/examples/example_merged.py
  sectionproperties/examples/example_mirr_rot.py
  sectionproperties/post/post.py
  sectionproperties/pre/nastran_sections.py
  sectionproperties/pre/offset.py
  sectionproperties/pre/pre.py
  sectionproperties/pre/sections.py
  sectionproperties/tests/helper_functions.py
  sectionproperties/tests/test_rectangle.py
  sectionproperties/tests/test_validation.py
  setup.py
Due: flake8, pylint

Create package-install.yml
  .github/workflows/package-install.yml
Due: none

Delete package-install.yml
  .github/workflows/package-install.yml
Due: none

Change readthedocs Python Build Version to 3.8
  .readthedocs.yaml
Due: none

Fix docs for offset_perimeter
  docs/source/rst/geom_mesh.rst
  sectionproperties/pre/sections.py
Due: rstcheck, flake8, pylint

Add readthedocs config file
  .readthedocs.yaml
Due: none

Add mpl to requirements
  docs/source/conf.py
  docs/source/images/examples/shapely_z_order.png
  docs/source/requirements_docs.txt
Due: flake8

Remove mpl_toolkits
  .readthedocs.yaml
  docs/source/requirements_docs.txt
Due: none

Add html to readthedocs.yaml
  .readthedocs.yaml
Due: none

Fix yaml
  .readthedocs.yaml
Due: none

Add github actions
  .github/workflows/black.yml
  .github/workflows/coverage.yml
  .github/workflows/install-package.yml
  .github/workflows/tests.yml
Due: none

:art: Format python code with psf/black
  docs/source/conf.py
  sectionproperties/analysis/cross_section.py
  sectionproperties/analysis/fea.py
  sectionproperties/post/post.py
  sectionproperties/pre/bisect_section.py
  sectionproperties/pre/dxf.py
  sectionproperties/pre/nastran_sections.py
  sectionproperties/pre/rhino.py
  sectionproperties/pre/sections.py
  sectionproperties/tests/test_offset.py
  sectionproperties/tests/test_perimeter.py
  sectionproperties/tests/test_sections.py
  setup.py
Due: flake8, pylint

Add cad_to_shapely requirement
  docs/source/conf.py
  setup.py
Due: flake8

Added print statement to conf.py to see locale
  docs/source/conf.py
Due: flake8

Removed print statement; wrong branch
  docs/source/conf.py
Due: flake8

Added print statement for locale in conf.py
  docs/source/conf.py
Due: flake8

Actions changes, delete some useless files
  .github/workflows/black.yml
  .github/workflows/coverage.yml
  .github/workflows/install-package.yml
  .github/workflows/tests.yml
  .travis.yml
  MANIFEST.in
  todo.md
Due: none

Rename coverage.yml
  .github/workflows/code_coverage.yml
  .github/workflows/tests.yml
Due: none

Format with black
  .github/workflows/tests.yml
  docs/source/conf.py
  sectionproperties/analysis/cross_section.py
  sectionproperties/analysis/fea.py
  sectionproperties/post/post.py
  sectionproperties/pre/bisect_section.py
  sectionproperties/pre/dxf.py
  sectionproperties/pre/nastran_sections.py
  sectionproperties/pre/rhino.py
  sectionproperties/pre/sections.py
  sectionproperties/tests/test_offset.py
  sectionproperties/tests/test_perimeter.py
  sectionproperties/tests/test_sections.py
  setup.py
Due: flake8, pylint

Modify coverage test
  .github/workflows/code_coverage.yml
Due: none

Try ignore 01_simple.py
  docs/source/conf.py
Due: flake8

Try set locale
  docs/source/conf.py
Due: flake8

Try set LC_ALL='' in conf.py
  docs/source/conf.py
Due: flake8

Begin transistion to triangle
  sectionproperties/analysis/cross_section.py
  sectionproperties/pre/pre.py
  setup.py
Due: flake8, pylint

Fix mesh attributes
  sectionproperties/analysis/cross_section.py
Due: flake8, pylint

Only add hole data if holes exist
  sectionproperties/pre/pre.py
Due: flake8, pylint
