Repository robbievanleeuwen/section-properties: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, rstcheck, flake8, pylint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        language: system
        entry: poetry check
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock)$

      - id: isort
        name: isort
        language: system
        entry: poetry run isort
        args: ['--check-only', '--filter-files']
        require_serial: true
        types_or: [cython, pyi, python]

      - id: black
        name: black
        language: system
        entry: poetry run black
        args: ['--check']
        require_serial: true
        types_or: [python, pyi]

      - id: rstcheck
        name: rstcheck
        language: system
        entry: poetry run rstcheck
        types: [rst]

      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        require_serial: true
        types: [python]

      - id: pylint
        name: pylint
        language: system
        entry: poetry run pylint
        args: ['--disable=fixme']
        require_serial: true
        types: [python]
        files: ^sectionproperties/

Add info
  src/sectionproperties/plugin/fibre.py
Due: flake8

Add example
  docs/examples/analysis/export_fibre_section.ipynb
  src/sectionproperties/plugin/fibre.py
Due: flake8

Cache integration point
  src/sectionproperties/analysis/fea.py
Due: flake8

Add example
  docs/examples/analysis/export_fibre_section.ipynb
Due: none

Add toc
  docs/examples.rst
Due: rstcheck

Add St. Venant torsion
  docs/examples/analysis/export_fibre_section.ipynb
Due: none

Add toc
  docs/api.rst
Due: rstcheck

Minor docstrings changes to remove optional facet list from from_points()
  src/sectionproperties/pre/geometry.py
Due: flake8

Add note re:simple geometry and shapely Polygon
  src/sectionproperties/pre/geometry.py
Due: flake8

Minor fixes
  src/sectionproperties/analysis/fea.py
  src/sectionproperties/analysis/section.py
Due: flake8

Relocate
  docs/api.rst
  docs/examples/analysis/export_fibre_section.ipynb
  src/sectionproperties/plugin/__init__.py
  src/sectionproperties/post/fibre.py
Due: rstcheck, flake8

Remove old code
  src/sectionproperties/analysis/section.py
Due: flake8

Fix progress bar not working for geometric and plastic analysis
  src/sectionproperties/analysis/plastic_section.py
  src/sectionproperties/analysis/section.py
Due: flake8

Minor update
  src/sectionproperties/analysis/fea.py
Due: flake8

Proposed fix for non-recognized holes
  src/sectionproperties/pre/geometry.py
Due: flake8

More improvement
  src/sectionproperties/analysis/fea.py
  src/sectionproperties/analysis/solver.py
  tests/test_rectangle.py
Due: flake8

More improvement
  src/sectionproperties/analysis/fea.py
Due: flake8

Minor update
  src/sectionproperties/post/fibre.py
Due: flake8

Minor update
  docs/examples/analysis/export_fibre_section.ipynb
Due: none

Fix out-of-sync
  src/sectionproperties/post/fibre.py
Due: flake8

Fix Cell init with new shape_function; fibre example blackify and prevent writing files
  docs/examples/analysis/export_fibre_section.ipynb
  src/sectionproperties/post/fibre.py
Due: flake8

Add docs favicon; add feature list to user guide; update README and index.rst; update contributing guide
  CONTRIBUTING.md
  README.md
  docs/_static/favicon.ico
  docs/conf.py
  docs/contributing.rst
  docs/index.rst
  docs/user_guide.rst
Due: rstcheck, flake8

Limit rhino to py3.9; main build version 3.9
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .readthedocs.yaml
  docs/installation.rst
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/test_geometry.py
Due: poetry-check, rstcheck, flake8

moved constant to module level
  src/sectionproperties/pre/geometry.py
Due: flake8

run isort
  src/sectionproperties/pre/geometry.py
Due: flake8

Fix TODO items
  docs/examples/geometry/geometry_cad.ipynb
  docs/user_guide/geometry.rst
  src/sectionproperties/analysis/section.py
  src/sectionproperties/pre/library/nastran_sections.py
  tests/section_holes_complex.dxf
Due: rstcheck, flake8

Fix XOR example
  src/sectionproperties/pre/geometry.py
Due: flake8

Update PR template; keep package version at 2.1.5 for now
  .github/PULL_REQUEST_TEMPLATE.md
  pyproject.toml
Due: poetry-check

Update dependabot.yml
  .github/dependabot.yml
Due: none

Allow unlipped cee and zed steel_sections
  src/sectionproperties/pre/library/steel_sections.py
Due: flake8

Remove extra parenthesis; consistent if statements
  src/sectionproperties/pre/library/steel_sections.py
Due: flake8

Blackify
  src/sectionproperties/pre/library/steel_sections.py
Due: flake8

Remove restriction on lip length
  src/sectionproperties/pre/library/steel_sections.py
Due: flake8

Remove poetry dependencies from dependabot for now
  .github/dependabot.yml
Due: none

Disable dependabot
  .github/dependabot.yml
Due: none

Fix labels
  .github/dependabot.yml
  .github/labels.yml
Due: none

Fix docs links
  docs/user_guide/validation.rst
Due: rstcheck

Update dependencies (numpy, scipy, matplotlib, rich, ipython, ipywidgets, sphinx
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: poetry-check
