Repository robbievanleeuwen/section-properties: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, rstcheck, flake8, pylint

poetry-check:
  name: poetry-check
  language: system
  entry: poetry check
  pass_filenames: false

rstcheck:
  name: rstcheck
  language: system
  entry: poetry run rstcheck

flake8:
  name: flake8
  language: system
  entry: poetry run flake8
  require_serial: true

pylint:
  name: pylint
  language: system
  entry: poetry run pylint
  args:
  - --disable=fixme
  require_serial: true

Fix tests badge
  README.md
Due: none

Bump poetry from 1.8.2 to 1.8.3
  .github/workflows/constraints.txt
Due: none

Update lock file
  poetry.lock
Due: poetry-check

Upgrade nox
  .github/workflows/constraints.txt
Due: none

Try no-cache poetry install
  noxfile.py
Due: flake8

Poetry debugging
  noxfile.py
Due: flake8

Don't run tests on MacOS M1
  .github/workflows/tests.yml
Due: none

Update README.md
  README.md
Due: none

Remove supplied_axis test
  tests/post/test_post.py
Due: flake8

Update poetry.lock
  poetry.lock
Due: poetry-check

Angle section fix for when toe thickness equals the thickness
  .flake8
  src/sectionproperties/pre/library/steel_sections.py
  tests/section_library/test_steel_sections.py
Due: flake8

Only run plotting tests on linux
  tests/geometry/test_geometry.py
  tests/post/test_post.py
  tests/post/test_stress_post.py
Due: flake8

Update rhino3dm, allow python 3.12
  docs/installation.rst
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/geometry/test_geometry.py
Due: poetry-check, rstcheck, flake8

Bump version to 3.2.2
  pyproject.toml
Due: poetry-check

Update dependencies to swap in cytriangle
  .gitignore
  poetry.lock
  pyproject.toml
  src/sectionproperties/pre/pre.py
Due: poetry-check, flake8

Use cytriangle v1.0.1, test for macos-latest
  .github/workflows/tests.yml
  .gitignore
  poetry.lock
  pyproject.toml
Due: poetry-check

Upgrade rhino3dm to v8.6.1
  poetry.lock
  pyproject.toml
Due: poetry-check

Run on macos-latest
  .github/workflows/tests.yml
Due: none

Test cytriangle
  poetry.lock
  pyproject.toml
  src/sectionproperties/pre/pre.py
Due: poetry-check, flake8

Bump rhino3dm to 8.6.1
  poetry.lock
  pyproject.toml
Due: poetry-check

Update references to CyTriangle
  docs/examples/geometry/advanced_geometry.ipynb
  docs/installation.rst
  docs/user_guide/theory.rst
  src/sectionproperties/analysis/section.py
  src/sectionproperties/pre/pre.py
Due: rstcheck, flake8

Use codecov token
  .github/workflows/tests.yml
Due: none

Fix scipy deprecation for sparese.linalg.cgs()
  src/sectionproperties/analysis/solver.py
Due: flake8

Update notes for upcoming release
  .github/release-drafter.yml
Due: none

Further release notes updates
  .github/release-drafter.yml
Due: none

Bump version to v3.3.0
  pyproject.toml
Due: poetry-check

feat: update algorithm for CompoundGeometry.offset_perimeter
  src/sectionproperties/pre/geometry.py
  tests/geometry/test_offset.py
Due: flake8

fix: update types in function signatures
  src/sectionproperties/pre/geometry.py
Due: flake8

blackify
  src/sectionproperties/pre/geometry.py
Due: flake8

updated type annotation to try and satisfy mypy
  src/sectionproperties/pre/geometry.py
Due: flake8

chore: update doc strings
  src/sectionproperties/pre/geometry.py
Due: flake8

Lint geometry.py
  src/sectionproperties/pre/geometry.py
Due: flake8

Ignore mypy errors
  src/sectionproperties/pre/geometry.py
Due: flake8

Add second balloon test (3 rectangles)
  tests/geometry/test_offset.py
Due: flake8

Update upload and download artifact actions
  .github/workflows/tests.yml
Due: none

Fix download artifact
  .github/workflows/tests.yml
Due: none

Fix plastic calculation for composite sections
  src/sectionproperties/analysis/plastic_section.py
Due: flake8

Adjust test tolerance
  tests/validation/test_custom_validation.py
Due: flake8

Fix mypy in plastic_section.py
  src/sectionproperties/analysis/plastic_section.py
Due: flake8

Add more composite plastic tests
  tests/analysis/test_plastic.py
Due: flake8

Path conditions:
  poetry-check: any of: ^(pyproject.toml|poetry.lock)$
  rstcheck: any of: \.rst$
  flake8: any of: \.py$
  pylint: any of: ^sectionproperties/ and \.py$
