Repository robbievanleeuwen/section-properties: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, rstcheck, flake8, pylint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        language: system
        entry: poetry check
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock)$

      - id: isort
        name: isort
        language: system
        entry: poetry run isort
        args: ['--check-only', '--filter-files']
        require_serial: true
        types_or: [cython, pyi, python]

      - id: black
        name: black
        language: system
        entry: poetry run black
        args: ['--check']
        require_serial: true
        types_or: [python, pyi]

      - id: rstcheck
        name: rstcheck
        language: system
        entry: poetry run rstcheck
        types: [rst]

      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        require_serial: true
        types: [python]

      - id: pylint
        name: pylint
        language: system
        entry: poetry run pylint
        args: ['--disable=fixme']
        require_serial: true
        types: [python]
        files: ^sectionproperties/

minor theory typos
  docs/source/rst/theory.rst
  sectionproperties/analysis/cross_section.py
Due: rstcheck, flake8, pylint

Fix: updated CompoundGeometry.from_points() to have a more robust algorithm for dealing with nested geometries with holes
  sectionproperties/pre/sections.py
Due: flake8, pylint

Tests: Add test_nested_compound_geometry_from_points() to test_sections.py
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Tests: Black formatting
  sectionproperties/tests/test_sections.py
  sectionproperties/tests/test_validation.py
Due: flake8, pylint

Docs: update Advanced Geometry to include examples with nested compound geometry
  docs/source/images/examples/nested_compound.png
  docs/source/images/examples/nested_compound_via_shapely.png
  docs/source/images/examples/nested_compound_via_triangle.png
  docs/source/images/examples/shapely_z_ordering.png
  docs/source/images/examples/triangle_no_z_order.png
  docs/source/rst/advanced_geom.rst
Due: rstcheck

Fix vertical line detection in create_line_segment
  sectionproperties/pre/bisect_section.py
Due: flake8, pylint

Fix API rst
  docs/source/rst/api.rst
Due: rstcheck

Finish updating docs, implement concrete sections library
  docs/source/images/sections/concrete_circular_section_geometry.png
  docs/source/images/sections/concrete_circular_section_mesh.png
  docs/source/images/sections/concrete_rectangular_section_geometry.png
  docs/source/images/sections/concrete_rectangular_section_mesh.png
  docs/source/images/sections/concrete_tee_section_geometry.png
  docs/source/images/sections/concrete_tee_section_mesh.png
  docs/source/index.rst
  docs/source/rst/advanced_geom.rst
  docs/source/rst/api.rst
  docs/source/rst/geom_mesh.rst
  docs/source/rst/post.rst
  docs/source/rst/section_library.rst
  docs/source/rst/structure.rst
  sectionproperties/analysis/cross_section.py
  sectionproperties/pre/library/bridge_beams.py
  sectionproperties/pre/library/bridge_sections.py
  sectionproperties/pre/library/concrete_sections.py
  sectionproperties/pre/sections.py
  sectionproperties/tests/test_rectangle.py
  sectionproperties/tests/test_sections.py
  sectionproperties/tests/test_validation.py
Due: rstcheck, flake8, pylint

Tests: Updated tests to reflect new argument order in Geometry.from_points() and CompoundGeometry.from_points()
  sectionproperties/pre/sections.py
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Fix sectionproperties logo
  README.md
  docs/source/images/logo.png
  logo.png
Due: none

Implement calculation of cross-section mass
  docs/source/rst/advanced_geom.rst
  docs/source/rst/examples.rst
  docs/source/rst/post.rst
  docs/source/rst/structure.rst
  sectionproperties/analysis/cross_section.py
  sectionproperties/analysis/fea.py
  sectionproperties/post/post.py
  sectionproperties/pre/pre.py
  sectionproperties/tests/test_rectangle.py
  sectionproperties/tests/test_sections.py
Due: rstcheck, flake8, pylint

Initial plotting edits
  sectionproperties/analysis/cross_section.py
  sectionproperties/post/post.py
  sectionproperties/pre/sections.py
Due: flake8, pylint

Config the sphinx-gallery extension
  docs/source/conf.py
Due: flake8

Remove the example package
  examples/README.md
  examples/example_advanced1.py
  examples/example_advanced2.py
  examples/example_composite.py
  examples/example_custom.py
  examples/example_frame.py
  examples/example_merged.py
  examples/example_mirr_rot.py
  examples/example_nastran_section.py
  examples/example_simple.py
  examples/example_stress.py
  sectionproperties/examples/__init__.py
  setup.py
Due: flake8, pylint

Docs: Modify examples for sphinx-gallery
  .gitignore
  docs/source/index.rst
  examples/README.md
  examples/README.rst
  examples/example_advanced1.py
  examples/example_advanced2.py
  examples/example_composite.py
  examples/example_custom.py
  examples/example_frame.py
  examples/example_merged.py
  examples/example_mirr_rot.py
  examples/example_nastran_section.py
  examples/example_simple.py
  examples/example_stress.py
Due: rstcheck, flake8

Remove the original example documentation
  docs/source/rst/examples.rst
Due: rstcheck

Restrucutre examples folder for Sphinx-Gallaries
  examples/00-basic/01_simple.py
  examples/00-basic/02_nastran_section.py
  examples/00-basic/03_custom.py
  examples/00-basic/04_merged.py
  examples/00-basic/05_mirr_rot.py
  examples/00-basic/06_stress.py
  examples/00-basic/07_composite.py
  examples/00-basic/08_frame.py
  examples/00-basic/README.rst
  examples/01-advanced/01-torsion_constant.py
  examples/01-advanced/02-mesh_refinement.py
  examples/01-advanced/README.rst
Due: rstcheck, flake8

Set plot size after matplotlib rescaling
  sectionproperties/analysis/cross_section.py
  sectionproperties/post/post.py
  sectionproperties/pre/sections.py
Due: flake8, pylint

Add perimeter test
  sectionproperties/tests/test_perimeter.py
Due: flake8, pylint

Add default parameter to holes to ensure optional, minor docs edit
  sectionproperties/pre/sections.py
Due: flake8, pylint

Complete perimeter tests
  sectionproperties/pre/sections.py
  sectionproperties/tests/test_perimeter.py
Due: flake8, pylint

Add offset tests, suggested CompoundGeometry offset fix
  sectionproperties/pre/sections.py
  sectionproperties/tests/test_offset.py
Due: flake8, pylint

Add title and tick label size adjustments
  sectionproperties/post/post.py
Due: flake8, pylint

Remove whitespace
  sectionproperties/post/post.py
Due: flake8, pylint

Add new algorithm for offsetting the perimeter of CompoundGeometry
  sectionproperties/pre/sections.py
Due: flake8, pylint

Update line width in plot_geometry()
  sectionproperties/pre/sections.py
Due: flake8, pylint

Add compound offset tests
  sectionproperties/tests/test_offset.py
Due: flake8, pylint

Added error message for when section gets completely eroded.
  sectionproperties/pre/sections.py
Due: flake8, pylint

Update typo in cross_section.py
  sectionproperties/analysis/cross_section.py
Due: flake8, pylint

Added filter_non_polygons() and created a test for it. Added filter_non_polygons() to __sub__(), __xor__(), and __and__() methods
  sectionproperties/pre/sections.py
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Removed debugging equipment
  sectionproperties/pre/sections.py
Due: flake8, pylint

Remove geom_index argument from CompoundGeometry.offset_perimeter()
  sectionproperties/pre/sections.py
Due: flake8, pylint

Black formatting
  sectionproperties/pre/sections.py
Due: flake8, pylint

Create black.yml
  .github/workflows/black.yml
Due: none

Change black options
  .github/workflows/black.yml
Due: none

Fix indentation & add with
  .github/workflows/black.yml
Due: none

Set title & tick params before applying tight layout
  sectionproperties/post/post.py
Due: flake8, pylint

Minor edit to docs
  examples/00-basic/03_custom.py
Due: flake8

Create requirements_docs.txt
  docs/source/requirements_docs.txt
Due: none

Move mock imports to requirements file
  docs/source/conf.py
  docs/source/requirements_docs.txt
Due: flake8
