Repository robbievanleeuwen/section-properties: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, rstcheck, flake8, pylint

poetry-check:
  name: poetry-check
  language: system
  entry: poetry check
  pass_filenames: false

rstcheck:
  name: rstcheck
  language: system
  entry: poetry run rstcheck

flake8:
  name: flake8
  language: system
  entry: poetry run flake8
  require_serial: true

pylint:
  name: pylint
  language: system
  entry: poetry run pylint
  args:
  - --disable=fixme
  require_serial: true

Fix docs for concrete_sections
  docs/source/rst/api.rst
  docs/source/rst/section_library.rst
  sectionproperties/pre/library/concrete_sections.py
Due: rstcheck, flake8, pylint

Bump version
  CHANGELOG.rst
  sectionproperties/__init__.py
Due: rstcheck, flake8, pylint

Fix shapely imports; fix test_filter_non_polygons
  docs/source/requirements_docs.txt
  examples/01-advanced/05_trapz_approximation.py
  sectionproperties/analysis/section.py
  sectionproperties/pre/bisect_section.py
  sectionproperties/pre/geometry.py
  sectionproperties/pre/library/bridge_sections.py
  sectionproperties/pre/library/nastran_sections.py
  sectionproperties/pre/library/primitive_sections.py
  sectionproperties/pre/library/steel_sections.py
  sectionproperties/pre/rhino.py
  sectionproperties/tests/test_offset.py
  sectionproperties/tests/test_sections.py
  sectionproperties/tests/test_validation.py
  setup.cfg
Due: flake8, pylint

Update codecov.yml
  codecov.yml
Due: none

Update STRtree api to shapely 2.0
  sectionproperties/analysis/section.py
Due: flake8, pylint

blackify
  sectionproperties/analysis/section.py
Due: flake8, pylint

Add unit tests for stress at points
  sectionproperties/tests/test_stress.py
Due: flake8, pylint

Reorder calculations
  sectionproperties/tests/test_stress.py
Due: flake8, pylint

Add python 3.10 support, drop 3.7
  .gitignore
  setup.cfg
Due: none

Update references to python versions
  .github/workflows/build_deploy.yml
  .github/workflows/code_coverage.yml
  .github/workflows/tests.yml
  .readthedocs.yaml
  README.md
  docs/source/rst/installation.rst
Due: rstcheck

Build docs on 3.9
  .readthedocs.yaml
Due: none

Add and modify root files
  .cookiecutter.json
  .darglint
  .flake8
  .gitattributes
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yaml
  CHANGELOG.rst
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  MANIFEST.in
  README.md
  codecov.yml
  noxfile.py
  poetry.lock
  pyproject.toml
  setup.cfg
Due: poetry-check, rstcheck, flake8

Restructure package folders
  src/sectionproperties/__init__.py
  src/sectionproperties/analysis/__init__.py
  src/sectionproperties/analysis/fea.py
  src/sectionproperties/analysis/section.py
  src/sectionproperties/analysis/solver.py
  src/sectionproperties/post/__init__.py
  src/sectionproperties/post/post.py
  src/sectionproperties/pre/__init__.py
  src/sectionproperties/pre/bisect_section.py
  src/sectionproperties/pre/geometry.py
  src/sectionproperties/pre/library/__init__.py
  src/sectionproperties/pre/library/bridge_sections.py
  src/sectionproperties/pre/library/concrete_sections.py
  src/sectionproperties/pre/library/nastran_sections.py
  src/sectionproperties/pre/library/primitive_sections.py
  src/sectionproperties/pre/library/steel_sections.py
  src/sectionproperties/pre/library/utils.py
  src/sectionproperties/pre/pre.py
  src/sectionproperties/pre/rhino.py
  tests/3in x 2in.3dm
  tests/__init__.py
  tests/complex_shape.3dm
  tests/complex_shape.txt
  tests/compound_shape.3dm
  tests/compound_shape.txt
  tests/helper_functions.py
  tests/rhino_data.json
  tests/section_holes.dxf
  tests/section_holes_complex.dxf
  tests/test_bisect_section.py
  tests/test_concrete_sections.py
  tests/test_offset.py
  tests/test_peery.py
  tests/test_perimeter.py
  tests/test_plastic.py
  tests/test_rectangle.py
  tests/test_sections.py
  tests/test_stress.py
  tests/test_validation.py
Due: flake8

Fix tests
  poetry.lock
  pyproject.toml
  tests/helper_functions.py
  tests/test_rectangle.py
  tests/test_sections.py
  tests/test_validation.py
Due: poetry-check, flake8

Update .github folder
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/black.yml
  .github/workflows/build_deploy.yml
  .github/workflows/code_coverage.yml
  .github/workflows/constraints.txt
  .github/workflows/greetings.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

Add CLI
  noxfile.py
  poetry.lock
  pyproject.toml
  src/sectionproperties/__init__.py
  src/sectionproperties/__main__.py
  src/sectionproperties/py.typed
  tests/__init__.py
  tests/test_main.py
Due: poetry-check, flake8

Docs config
  .gitignore
  .readthedocs.yaml
  README.md
  docs/Makefile
  docs/_static/logo-dark-mode.png
  docs/_static/logo-light-mode.png
  docs/conf.py
  docs/requirements.txt
  docs/source/conf.py
  docs/source/requirements_docs.txt
  examples/00-basic/01_simple.py
  examples/00-basic/02_nastran_section.py
  examples/00-basic/03_custom.py
  examples/00-basic/04_merged.py
  examples/00-basic/05_mirr_rot.py
  examples/00-basic/06_stress.py
  examples/00-basic/07_composite.py
  examples/00-basic/08_frame.py
  examples/00-basic/09_cad_import.py
  examples/00-basic/README.rst
  examples/00-basic/files/complex_shape.3dm
  examples/00-basic/files/compound_shape.3dm
  examples/00-basic/files/section_holes.dxf
  examples/00-basic/files/section_holes_complex.dxf
  examples/01-advanced/01_advanced_plotting.py
  examples/01-advanced/02_mesh_refinement.py
  examples/01-advanced/03_torsion_constant.py
  examples/01-advanced/04_peery_beams.py
  examples/01-advanced/05_trapz_approximation.py
  examples/01-advanced/README.rst
  examples/README.rst
  noxfile.py
  poetry.lock
  pyproject.toml
Due: poetry-check, rstcheck, flake8

Documentation structure; theory docs
  README.md
  docs/_static/theory/arbitrary-section.png
  docs/_static/theory/int1.png
  docs/_static/theory/int2.png
  docs/_static/theory/int3.png
  docs/_static/theory/isoparametric.png
  docs/_static/theory/six-noded-triangle.png
  docs/_templates/custom-class-template.rst
  docs/_templates/custom-module-template.rst
  docs/api.md
  docs/codeofconduct.md
  docs/contributing.md
  docs/examples.md
  docs/index.md
  docs/license.md
  docs/user_guide.md
  docs/user_guide/analysis.md
  docs/user_guide/geometry.md
  docs/user_guide/materials.md
  docs/user_guide/meshing.md
  docs/user_guide/overview.md
  docs/user_guide/results.md
  docs/user_guide/theory.md
  docs/user_guide/validation.md
Due: rstcheck

Update validation docs
  docs/_static/validation/peery_6-2-1.png
  docs/_static/validation/peery_7-2-1_1.png
  docs/_static/validation/peery_7-2-1_2.png
  docs/user_guide/validation.md
Due: none

Minor fixes
  .gitignore
  .pre-commit-config.yaml
  docs/api.md
  docs/conf.py
  docs/user_guide/validation.md
  pyproject.toml
Due: poetry-check, flake8

Fix bisect_section
  src/sectionproperties/pre/bisect_section.py
Due: flake8

Remove type checking and xdoctest
  .github/workflows/tests.yml
  .gitignore
  noxfile.py
  poetry.lock
  pyproject.toml
  src/sectionproperties/py.typed
Due: poetry-check, flake8

Fix pre.py
  src/sectionproperties/pre/pre.py
Due: flake8

Fix rhino.py
  src/sectionproperties/pre/pre.py
  src/sectionproperties/pre/rhino.py
Due: flake8

Add API items to __init__.py; conf.py fixes and minor docs
  .flake8
  docs/_templates/custom-class-template.rst
  docs/conf.py
  src/sectionproperties/analysis/__init__.py
  src/sectionproperties/pre/__init__.py
  src/sectionproperties/pre/library/__init__.py
  src/sectionproperties/pre/pre.py
Due: rstcheck, flake8

Fix geometry.py
  .flake8
  src/sectionproperties/pre/geometry.py
Due: flake8

Add future annotations
  src/sectionproperties/pre/bisect_section.py
  src/sectionproperties/pre/pre.py
  src/sectionproperties/pre/rhino.py
Due: flake8

Fix utils.py
  src/sectionproperties/pre/library/utils.py
Due: flake8

Fix primitive_sections.py
  src/sectionproperties/pre/library/primitive_sections.py
Due: flake8

Fix steel_sections.py
  .flake8
  src/sectionproperties/pre/library/steel_sections.py
Due: flake8

Fix nastran_sections.py; geom import fix
  src/sectionproperties/pre/library/nastran_sections.py
  src/sectionproperties/pre/library/primitive_sections.py
  src/sectionproperties/pre/library/steel_sections.py
Due: flake8

Fix bridge_sections.py
  src/sectionproperties/pre/library/bridge_sections.py
Due: flake8

Fix concrete_sections.py and tests
  .flake8
  docs/api.md
  src/sectionproperties/pre/library/concrete_sections.py
  src/sectionproperties/pre/library/steel_sections.py
  tests/test_concrete_sections.py
Due: flake8

Remove sphinx-autodoc-typehints
  noxfile.py
  poetry.lock
  pyproject.toml
Due: poetry-check, flake8

Minor library docs fixes
  src/sectionproperties/pre/library/bridge_sections.py
  src/sectionproperties/pre/library/concrete_sections.py
Due: flake8

Fix post.py
  .flake8
  docs/api.md
  src/sectionproperties/post/__init__.py
  src/sectionproperties/post/post.py
Due: flake8

Fix solver.py
  src/sectionproperties/analysis/solver.py
Due: flake8

Fix fea.py
  src/sectionproperties/analysis/fea.py
Due: flake8

Path conditions:
  poetry-check: any of: ^(pyproject.toml|poetry.lock)$
  rstcheck: any of: \.rst$
  flake8: any of: \.py$
  pylint: any of: ^sectionproperties/ and \.py$
