Repository robbievanleeuwen/section-properties: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, rstcheck, flake8, pylint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        language: system
        entry: poetry check
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock)$

      - id: isort
        name: isort
        language: system
        entry: poetry run isort
        args: ['--check-only', '--filter-files']
        require_serial: true
        types_or: [cython, pyi, python]

      - id: black
        name: black
        language: system
        entry: poetry run black
        args: ['--check']
        require_serial: true
        types_or: [python, pyi]

      - id: rstcheck
        name: rstcheck
        language: system
        entry: poetry run rstcheck
        types: [rst]

      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        require_serial: true
        types: [python]

      - id: pylint
        name: pylint
        language: system
        entry: poetry run pylint
        args: ['--disable=fixme']
        require_serial: true
        types: [python]
        files: ^sectionproperties/

Rename standard_sections to primitive_sections, add triangular, triangular radius sections, fix docs as required
  CHANGELOG.rst
  docs/source/images/sections/triangle_geometry.png
  docs/source/images/sections/triangle_mesh.png
  docs/source/images/sections/triangle_radius_geometry.png
  docs/source/images/sections/triangle_radius_mesh.png
  docs/source/rst/advanced_geom.rst
  docs/source/rst/api.rst
  docs/source/rst/section_library.rst
  docs/source/rst/structure.rst
  examples/00-basic/01_simple.py
  examples/00-basic/07_composite.py
  examples/00-basic/08_frame.py
  examples/01-advanced/01-torsion_constant.py
  examples/01-advanced/02-mesh_refinement.py
  sectionproperties/analysis/section.py
  sectionproperties/pre/geometry.py
  sectionproperties/pre/library/concrete_sections.py
  sectionproperties/pre/library/nastran_sections.py
  sectionproperties/pre/library/primitive_sections.py
  sectionproperties/pre/library/steel_sections.py
  sectionproperties/tests/test_offset.py
  sectionproperties/tests/test_perimeter.py
  sectionproperties/tests/test_rectangle.py
  sectionproperties/tests/test_sections.py
  sectionproperties/tests/test_validation.py
Due: rstcheck, flake8, pylint

Blackify
  sectionproperties/pre/library/primitive_sections.py
  sectionproperties/pre/library/steel_sections.py
Due: flake8, pylint

Add some badges
  README.md
Due: none

Update readme
  README.md
Due: none

Update changelog for v2
  CHANGELOG.rst
Due: rstcheck

Fix missing space
  CHANGELOG.rst
Due: rstcheck

Small changelog changes
  CHANGELOG.rst
Due: rstcheck

Fix doc error in geometric analysis
  sectionproperties/analysis/section.py
Due: flake8, pylint

Add build and deploy github action
  .github/workflows/build_deploy.yml
Due: none

Change setup to toml format
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  LICENSE.md
  pyproject.toml
  setup.cfg
  setup.py
Due: poetry-check, flake8

add workflow_dispatch to build_deploy.yml
  .github/workflows/build_deploy.yml
Due: none

test push and deploy
  .github/workflows/build_deploy.yml
Due: none

test worked, reset on
  .github/workflows/build_deploy.yml
Due: none

Prevent duplicate tests
  .github/workflows/black.yml
  .github/workflows/code_coverage.yml
  .github/workflows/tests.yml
Due: none

Fix code_coverage.yml on
  .github/workflows/code_coverage.yml
Due: none

Added geometry.round_polygon_vertices(), added round_polygon_vertices to geometry.__init__(), updated import namespaces in library modules
  sectionproperties/pre/geometry.py
  sectionproperties/pre/library/bridge_sections.py
  sectionproperties/pre/library/concrete_sections.py
  sectionproperties/pre/library/nastran_sections.py
  sectionproperties/pre/library/primitive_sections.py
  sectionproperties/pre/library/steel_sections.py
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

blackify
  sectionproperties/pre/geometry.py
  sectionproperties/pre/library/nastran_sections.py
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Added test_round_polygon_vertices to tests; removed instrumentation in geometry.py
  sectionproperties/pre/geometry.py
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

blackify tests
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Fixed failing test
  sectionproperties/tests/test_sections.py
Due: flake8, pylint

Adjusted point about CompoundGeometry and Material
  CHANGELOG.rst
Due: rstcheck

Begin to implement plotting_context, fix plotting order issue
  sectionproperties/analysis/section.py
  sectionproperties/post/post.py
  sectionproperties/pre/geometry.py
Due: flake8, pylint

Implement plotting_context to all plots
  docs/source/rst/api.rst
  sectionproperties/analysis/section.py
  sectionproperties/post/post.py
Due: rstcheck, flake8, pylint

Add advanced plotting example
  docs/Makefile
  examples/00-basic/README.rst
  examples/01-advanced/01_advanced_plotting.py
  examples/01-advanced/02_mesh_refinement.py
  examples/01-advanced/03_torsion_constant.py
  examples/README.rst
Due: rstcheck, flake8

Blackify
  examples/01-advanced/01_advanced_plotting.py
Due: flake8

Add CAD example
  examples/00-basic/08_frame.py
  examples/00-basic/09_cad_import.py
  examples/00-basic/files/complex_shape.3dm
  examples/00-basic/files/compound_shape.3dm
  examples/00-basic/files/section_holes.dxf
  examples/00-basic/files/section_holes_complex.dxf
  sectionproperties/pre/geometry.py
Due: flake8, pylint

Update build_deploy.yml
  .github/workflows/build_deploy.yml
Due: none

Add cad_to_shapely requirement to rtd reqs
  docs/source/requirements_docs.txt
Due: none

Relax rtd matplotlib version requirement
  docs/source/requirements_docs.txt
Due: none

Fix order of variables in mono_i_section()
  sectionproperties/pre/library/steel_sections.py
Due: flake8, pylint

Added hole labelling to Geometry.plot_geometry()
  sectionproperties/pre/geometry.py
Due: flake8, pylint

Update mock imports, remove locale
  docs/source/conf.py
Due: flake8

Remove cmake from rtd yaml, generate pdf
  .readthedocs.yaml
Due: none

Add python version to installation.rst
  docs/source/rst/installation.rst
Due: rstcheck

Clean geom docs
  docs/source/rst/geom_mesh.rst
  sectionproperties/pre/geometry.py
Due: rstcheck, flake8, pylint

Fix plot_mesh docs
  sectionproperties/analysis/section.py
Due: flake8, pylint

Update badges
  README.md
Due: none

Update README
  README.md
Due: none

Update README again
  README.md
Due: none

Update CHANGELOG and remove pdf from rtd
  .readthedocs.yaml
  CHANGELOG.rst
Due: rstcheck
